{% extends 'home/index.html' %}

{% load static crispy_forms_filters %}

{% block extra-style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'seguros/css/form.min.css' %}">
{% endblock %}

{% block header-slider %}{% endblock %}

{% block sub-header %}{% endblock %}

{% block content %}
    {% include form_content %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $(document).on('submit', 'form', function (event) {
          event.preventDefault();
          const data = new FormData(this);
          $.ajax('.', {
            method: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (response) {
              if (response.result === 'success') {
                alert('todo bien gracias');
                window.location.href = "{% url 'home:index' %}"
              }else{
                alert('mal, completa todos los campos')
              }
              console.log(response)
            },
          })
        })
      });
    </script>
{% endblock %}
