{% extends 'admin/change_list.html' %}


{% block object-tools-items %}
    <li>
        <a href="{% url 'trustseguros:importar_certificado_edificio' %}">
            Importar Cerfificados Edificios
        </a>
    </li>
    <li>
        <a href="{% url 'trustseguros:importar_certificado_auto' %}">
            Importar Cerfificados Autos
        </a>
    </li>
    <li>
        <a href="{% url 'trustseguros:importar_certificado_persona' %}">
            Importar Cerfificados Personas
        </a>
    </li>

    {{ block.super }}
{% endblock %}