.dataTables_wrapper tbody tr {
  cursor: pointer;
}
.dataTables_wrapper .table-bordered td, .dataTables_wrapper .table-bordered th {
  border: 1px solid #326634;
}
.dataTables_wrapper .table-hover tbody tr:hover {
  background-color: #51972d14;
}
.dataTables_wrapper .page-item .page-link {
  color: #326634 !important;
  border-color: #326634 !important;
}
.dataTables_wrapper .page-item .page-link:focus {
  color: #326634 !important;
  background-color: #51972d44 !important;
  border-color: #326634 !important;
  box-shadow: 0 0 0 0.2rem #51972d44;
}
.dataTables_wrapper .page-item .page-link:hover {
  background-color: #51972d44 !important;
}
.dataTables_wrapper .page-item.active .page-link {
  background-color: #51972d44;
  border-color: #326634;
}

.form-control {
  color: #326634 !important;
  font-weight: 700;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #51972d44 !important;
  border-color: #326634 !important;
}

option:checked {
  background-color: #51972d44 !important;
}

option:not(:checked) {
  background-color: #51972d14 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #51972d #51972d #ffffff !important;
  background-color: #51972d14;
  color: #326634 !important;
}

.card-trust {
  box-shadow: 0 0 1px #326634, 0 1px 3px #326634;
  background-color: #51972d14;
}

@keyframes hideFilters {
  from {
    height: 300px;
  }
  to {
    height: 0;
    padding: 0;
  }
}
@keyframes showFilters {
  from {
    height: 0;
    padding: 0;
  }
  to {
    height: 300px;
    padding: 1%;
  }
}
.dataTables_filter {
  position: relative;
}
.dataTables_filter .datatables-filters-group {
  width: 300px;
  overflow: hidden;
  position: fixed;
  right: 17px;
  background-color: whitesmoke;
  z-index: 100;
  padding: 0;
  height: 0;
  border-radius: 5px;
  text-align: left;
}

.filter-close {
  animation: hideFilters 1s forwards;
}

.filter-open {
  animation: showFilters 1s forwards;
}

.form-check {
  padding-top: 45px !important;
}

