{% load datatables %}
<tr>
    <td>
        <input type="hidden" name="{{ form.prefix }}"
               value="{% if form.instance.id %}{{ form.instance.id|stringformat:'i' }}{% endif %}">
        {{ form.fecha_pago|as_inline_field }}
    </td>
    <td>
        {{ form.monto|as_inline_field }}
    </td>
    <td>
        {{ form.referencia_pago|as_inline_field }}
    </td>
    <td>
        {{ form.medio_pago|as_inline_field }}
    </td>
    <td>
        {{ form.fecha_pago_comision|as_inline_field }}
    </td>
    <td>
        {{ form.comision|as_inline_field }}
    </td>
    <td>
        {% ifnotequal form.instance.cuota.estado 3 %}
            <button type="button" class="btn btn-danger btn-del-pago"
                    {% if form.instance.id %}data-id="{{ form.instance.id|stringformat:'i' }}"{% endif %}>
                <i class="fa fa-trash"></i>
            </button>
        {% endifnotequal %}
    </td>
</tr>