{% load humanize %}

<form action="." id="form-register" method="post">
    <input type="hidden" name="oportunity" value="{{ oportunity.id }}">
    {% if poliza %}
        <div class="row">
            <div class="col">La póliza # {{ poliza.no_poliza }} existe! y se encuentra en estado: {{ poliza.get_estado_poliza_display }}</div>
        </div>
    {% endif %}
    {% if oportunity.cotizado %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Aseguradora</th>
                <th>Prima total</th>
            </tr>
            </thead>

            <tbody>
            {% for oferta in oportunity.ofertas_cotizacion %}
                <tr>
                    <td style="text-align: center; vertical-align: middle">
                        <input type="radio" name="aseguradora" value="{{ oferta.aseguradora.id }}" required="required">
                    </td>
                    <td>
                        <img src="{{ oferta.aseguradora.logo.url }}" style="max-width: 85px">
                    </td>
                    <td>U$ {{ oferta.prima_total|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Aseguradora</th>
                <th>Prima total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select name="aseguradora" id="id_aseguradora" class="form-control">
                        {% for aseguradora in aseguradoras %}
                            <option value="{{ aseguradora.id }}">{{ aseguradora.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="number" placeholder="PRIMA"
                           step=".01"
                           class="form-control" name="prima" id="id_prima" required>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
    <button type="submit" class="btn btn-primary btn-trust">
        <i class="fa fa-file-archive"></i>
        <span>Registrar</span>
    </button>
</form>
