{% load static crispy_forms_filters %}
<form action="." method="post" class="send-mail-form">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{ instance.id }}">

    <table style="width: 100%">
        <tr>
            <td>
                <span class="send-mail-label">{{ form.de.label|capfirst }}:</span>
                <input class="send-mail-input" type="text" name="{{ form.de.name }}"
                        {% if form.de.value %} value="{{ form.de.value }}"{% endif %}>
            </td>
        </tr>
        <tr>
            <td>
                <span class="send-mail-label">{{ form.para.label|capfirst }}:</span>
                <input class="send-mail-input" type="text" name="{{ form.para.name }}"
                        {% if form.para.value %} value="{{ form.para.value }}"{% endif %}>
            </td>
        </tr>
        <tr>
            <td><span class="send-mail-label">{{ form.asunto.label|capfirst }}:</span>
                <input class="send-mail-input" type="text" name="{{ form.asunto.name }}"
                       {% if form.asunto.value %}value="{{ form.asunto.value }}"{% endif %}>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col">
            <textarea name="{{ form.contenido.name }}" cols="30" rows="10" class="htmleditor">
                <p><strong>Buenos días estimado cliente.</strong></p>

                <p>Espero que se encuentre bien, hemos recibido la siguiente notificación de siniestro.</p>

                <p>Le detallo parte de los requisitos que se deben completar para la apertura formal del reclamo:</p>

                <ol>
                    <li>Aviso de accidente debidamente firmado y sellado (formato adjunto)</li>
                    <li>Cédula conductor</li>
                    <li>Licencia conductor</li>
                    <li>Circulación</li>
                    <li>RUC</li>
                    <li>Certificado de tránsito o denuncia policial, en caso de no contar con este documento, debe elaborar una carta explicando los motivos por los cuales no se notificó a la institución.</li>
                    <li>Presupuestos de repuestos</li>
                    <li>Presupuestos de mano de obra</li>
                    <li>Presentar el vehículo a las oficinas de Seguros America para inspección.</li>
                </ol>

                <p>Por favor, remitir la documentación en original a nuestras oficinas, para dar la formal apertura del reclamo ante la aseguradora.</p>

                <p>Cualquier consulta a la orden.</p>
            </textarea>
        </div>
    </div>

    <div class="send-email-attachment">
        <figure class="email-attachment">
            <img src="{% static 'trustseguros/lte/img/PDF_file_icon.png' %}">
            <figcaption>Documento</figcaption>
        </figure>
    </div>

    <div class="send-email-buttons" style="display: flex; justify-content: flex-end">
        <button type="submit" class="btn btn-primary btn-trust btn-send-mail">
            <i class="fa fa-paper-plane"></i>
            <span>Enviar</span>
        </button>
    </div>
</form>