{% extends 'adminlte/index.html' %}
{% load static datatables %}


{% block style %}
    <link rel="stylesheet" href="{% static 'adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/inputmask/css/inputmask.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/izimodal/css/iziModal.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/growl/stylesheets/jquery.growl.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'simditor/site/assets/styles/simditor.css' %}">
    <link rel="stylesheet" href="{% static 'simditor-html/styles/simditor-html.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/datatables.trust.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/ui.theme.trust.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/css/buttons.css' %}">
    <style type="text/css">
        .send-mail-input {
            color: grey;
        }

        .send-mail-input {
            outline: none;
            border: none;
            width: 80%;
        }

        .send-email-attachment {
            display: flex;
            padding: 20px;
            flex-wrap: wrap;
            gap: 10px;
        }

        .send-email-attachment .send-email-attachment-new {
            background-color: #0c0c0c44;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100px;
            cursor: pointer;
            transform: scale(.90);
            font-size: 25pt;
        }

        .send-email-attachment .send-email-attachment-new:hover {
            transform: scale(1);
        }

        .send-email-attachment .send-email-attachment-item .send-email-attachment-delete {
            cursor: pointer;
            margin: 0 5px;
            display: flex;
            justify-content: flex-end;
            transform: translate(8px, 10px);
        }

        .send-email-attachment .send-email-attachment-item figure {
            cursor: pointer;
            margin: 0 5px;
        }

        .send-email-attachment .send-email-attachment-item figure:active {
            transform: scale(.95);
        }

        .send-email-attachment .send-email-attachment-item img {
            width: 85px;
        }
    </style>
    {% for link in media.css %}
        <link rel="stylesheet" href="{% static link %}">
    {% endfor %}
{% endblock %}


{% block content-title %}
    {{ opts.verbose_name_plural|capfirst }}
{% endblock %}


{% block breadcrums %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'trustseguros:index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">{{ opts.verbose_name_plural|capfirst }}</li>
    </ol>
{% endblock %}


{% block content %}

    <table id="{{ opts.model_name }}-table" class="table table-bordered table-hover">

    </table>
    <div class="izimodal" id="{{ opts.model_name }}-modal"></div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        const $ajax_getCollection = "{% url 'ajax_getCollection' %}";
        const $ajax_autocomplete = "{% url 'ajax_autocomplete' %}";
        const $ajax_execute = "{% url 'ajax_objectExecute' %}";
        const $ajax_soporte = "{% url 'trustseguros:documentos' %}";
        const $ajax_bitacora = "{% url 'trustseguros:comentarios' %}";
    </script>
    <script src="{% static 'adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'adminlte/js/datatables.ES_NI.js' %}"></script>
    <script src="{% static 'adminlte/plugins/izimodal/js/iziModal.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/growl/javascripts/jquery.growl.js' %}"></script>
    <script src="{% static 'adminlte/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/site/assets/scripts/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/site/assets/scripts/uploader.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/site/assets/scripts/hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/site/assets/scripts/dompurify.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/site/assets/scripts/simditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-beautify/js/lib/beautify-html.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor-html/lib/simditor-html.js' %}"></script>
    <script src="{% static 'adminlte/js/csfr.token.js' %}"></script>
    <script type="text/javascript">

        let object_changed = false;

        function li_errors(errors) {
            let li = ``;
            $.each(errors, function (i, error) {
                li += `<li>${error.message}</li>`
            });
            return li;
        }

        const modal_width = parseInt('{{ modal_width|stringformat:"f" }}');

        function process_response(response, textStatus, xhr) {
            redraw_object(response);
            if (xhr.status === 200) {
                object_changed = false;
                update_table(response);
                $.growl.notice({
                    title: `Notificación`,
                    message: `<p>${response.instance.str} se guardó con éxito!</p>`
                });
            }
            $.each(response.errors, function (n, error) {
                $.growl.error({
                    message: `<p>${error.key}</p>
                                      <ul>${li_errors(error.errors)}</ul>`
                });
            });
        }

        const perform_action = function (form, action, callback) {
            const _form = $(form);
            const data = new FormData(form);
            data.append(action, action);
            $.ajax(_form.attr('action'), {
                method: _form.attr('method'),
                data: data,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    callback(response, textStatus, xhr);
                },
                error: function (error) {
                    $.growl.error({
                        message: `<p>${error}</p>`
                    });
                }
            })
        };

        const form_submit = function (e) {
            e.preventDefault();
            perform_action(this, 'save', process_response);
        };

        const new_object = function (e, dt, node, config) {
            $.ajax(".", {
                method: 'PUT',
                data: {open: 'open'},
                success: function (response, resonse_status, xhr) {
                    modal.iziModal('destroy');
                    modal.empty().append(response.form);
                    modal.iziModal({
                        title: 'Agregar {{ opts.verbose_name }}',
                        subtitle: 'Datos {{ opts.verbose_name }}',
                        width: modal_width, padding: 20, fullscreen: false, zindex: 1500,
                        headerColor: '#326634'
                    }).iziModal('open');
                }
            });
        };

        const buildFilters = function () {
            if ($('#table-filters')) {
                return $('#table-filters').val()
            } else {
                return ""
            }
        };

        const table = $('#{{ opts.model_name }}-table').DataTable({
            dom: 'Bfrtip',
            language: ES_ni,
            processing: true,
            serverSide: true,
            ajax: {
                url: ".",
                type: 'POST',
                data: {'list': 'list', 'filters': buildFilters}
            },
            columns: [
                {% for field in list_display %}
                    {{ form|datatables_column:field }}
                {% endfor %}
            ],
            buttons: [
                {
                    text: '<i class="fas fa-plus"></i> Agregar {{ opts.verbose_name }}',
                    action: new_object,
                    className: 'btn btn-trust'
                },
            ]

        });

        const modal = $('#{{ opts.model_name }}-modal').iziModal({});

        const open_object = function (id) {
            $.ajax('.', {
                method: "POST",
                data: {pk: id, 'open': 'open'},
                success: function (response, respose_text, xhr) {
                    modal.iziModal('destroy');
                    modal.empty().append(response.form);
                    modal.iziModal({
                        title: response.instance.str,
                        subtitle: 'Datos {{ opts.verbose_name }}',
                        width: modal_width, padding: 20, fullscreen: false, zindex: 1500,
                        headerColor: '#326634'
                    }).iziModal('open');
                    $('input[name="id"]').val(id);
                }
            });
        };

        const show_object = function () {
            const obj = table.row(this).data();
            open_object(obj.pk);
        };

        const redraw_object = function (response) {
            const wrap = modal.find('.iziModal-content');
            wrap.empty().append(response.form);
        };

        const update_table = function (response) {
            if (response.instance) {
                try {
                    table.row("#" + response.instance.id).data(response.instance).draw(false);
                } catch (error) {
                    table.row.add(response.instance).draw(false);
                }
            }
        };

        const add_row = function () {
            const _this = $(this);
            const $template = $('#' + _this.data('template'));
            const $target = $('#' + _this.data('target'));
            const row = $($template.find('tr')[0]).clone();
            $target.append(row);
        };

        const delete_row = function () {
            const _this = $(this);
            $.ajax("{% url 'ajax_objectExecute' %}", {
                method: "POST",
                data: {
                    app_label: _this.data('app'),
                    model: _this.data('model'),
                    id: _this.data('id'),
                    view: 'delete'
                }
            });
            $(this).parents('tr').remove()
        };

        const filters = function () {
            return (`<button type="button" id="btn-table-filter">
                        <a href="#"><i class="fas fa-cog"></i></a>
                    </button>
                    <input type="hidden" id="table-filters" value="">
                    <div class="datatables-filters-group elevation-4 filter-close">
                    <h3>Filtros</h3>
                    <div class="filters-container">
                        {% for filter in list_filter %}
                            {{ filter.render }}
                        {% endfor %}
                    </div>
                </div>`);
        };

        const apply_pluggins = function () {
            $('.dateinput').datepicker({
                dateFormat: 'dd/mm/yy',
            });
            $('.selectpicker').selectpicker();
            $.each($('.inputmask'), function (n, el) {
                let mask = $(el).data('mask');
                $(el).inputmask(mask);
            });

            let toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale',
                'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image',
                'hr', '|', 'indent', 'outdent', 'alignment', '|', 'html'];
            Simditor.locale = 'es';
            $.each($('textarea.htmleditor'), function (n, el) {
                new Simditor({
                    textarea: el,
                    placeholder: 'Ingresar cuerpo del correo...',
                    toolbar: toolbar,
                    pasteImage: true,
                    defaultImage: 'assets/images/image.png',
                    upload: location.search === '?upload' ? {
                        url: '/upload'
                    } : false
                });
            });
        };

        const togleFilters = function (event) {
            let filters = $('.datatables-filters-group');
            if ($(event.target).attr('class') === 'fas fa-cog') {
                if (filters.hasClass('filter-close')) {
                    filters.removeClass('filter-close').addClass('filter-open')
                }
            } else {

                filters.removeClass('filter-open').addClass('filter-close')
            }
        };

        const form_changed = function () {
            $(window).on('beforeunload', function () {
                return '¿Estas seguro que deseas salir?';
            });
            object_changed = true;
        };

        $(document).ready(function () {
            $(document).ajaxStop(function () {
                apply_pluggins();
            });
            $('#{{ opts.model_name }}-table').on('click', 'tbody tr', show_object);

            $(document).on('submit', '#{{ opts.model_name }}-form', form_submit);

            $(document).on('change', '#{{ opts.model_name }}-form .form-control', form_changed);

            $(document).on('click', '.btn-perform', function () {
                const form = $('#{{ opts.model_name }}-form')[0];
                const _this = $(this);
                _this.attr('disabled', 'disabled');
                perform_action(form, _this.data('perform'), window[_this.data('callback')])
            });

            $(document).on('click', '.btn-table-add', add_row);

            $(document).on('click', '.btn-table-delete', delete_row);

            $(document).on('keydown', 'input', enter2tab);

            $('#{{ opts.model_name }}-table_filter').append(filters());

            $(document).on('click', '#btn-table-filter', togleFilters);
            $(document).on('click', '#{{ opts.model_name }}-table_wrapper', togleFilters);

            $(document).on('change', '.filter-table', function () {
                let filters = [];
                $.each($('.filter-table'), function (i, o) {
                    if ($(o).val() === "") {
                        console.log($(o).val() === "");
                    } else {
                        filters.push($(o).data('name') + $(o).data('option') + $(o).val())
                    }
                });
                $('#table-filters').val(filters.join('&'));

                table.ajax.reload();
            });
            $(document).on('keyup', 'input,textarea:not(.htmleditor)', function () {
                const self = $(this);
                let text = self.val().toUpperCase();
                self.val(text);
            });

            $(modal).on('closed', function (e) {
                if (object_changed) {
                    swal({
                        title: '¿Estas seguro que quieres cerrar este formulario?',
                        text: "Tienes cambios sin guardar!",
                        imageUrl: "{% static 'cotizador/images/trusty/pregunta.png' %}",
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, cerrar!',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            $(window).off('beforeunload');
                            object_changed = false;
                        } else {
                            modal.iziModal('toggle')
                        }
                    })
                }

            });
        });

        function get_hash() {
            const hash = window.location.hash;
            if (hash) {
                open_object(hash.replace('#', ''))
            }
        }

        get_hash();

    </script>
    {% for script in media.js %}
        <script src="{% static script %}"></script>
    {% endfor %}
{% endblock %}
