<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="true">

        {% if perms.backend.trust_clientes_natural or perms.backend.trust_clientes_juridico %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Clientes
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if perms.backend.trust_clientes_natural %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:persona_natural' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"
                                   style="font-size: .3em; vertical-align: middle"></i>
                                <p>Persona natural</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_clientes_juridico %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:persona_juridica' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"
                                   style="font-size: .3em; vertical-align: middle"></i>
                                <p>Persona jurídica</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if perms.backend.trust_polizas_poliza or perms.backend.trust_polizas_tramite %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Pólizas
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if perms.backend.trust_polizas_poliza %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:polizas' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Pólizas
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_polizas_tramite %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:tramites' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Trámites
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if user.lineas %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        CRM
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% for linea in user.lineas %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:oportunidades' linea.linea.id %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    {{ linea.linea.name }}
                                </p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if perms.backend.trust_usuarios_usuario or perms.backend.trust_usuarios_grupo %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Usuarios
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if perms.backend.trust_polizas_tramite %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:usuarios' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Administrar usuarios
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_polizas_tramite %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:roles' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Perfiles y Roles
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if perms.backend.trust_gestion_recibo or perms.backend.trust_cobranza_reportes %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Cobranza
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if perms.backend.trust_gestion_recibo %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:recibos' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Recibos
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_cobranza_reportes %}
                        {% comment %}<li class="nav-item">
                            <a href="#" class="nav-link has-treeview">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Reportes
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"
                                           style="font-size: .3em; vertical-align: middle"></i>
                                        <p>
                                            Montos recaudados
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"
                                           style="font-size: .3em; vertical-align: middle"></i>
                                        <p>
                                            Comisiones cobradas
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"
                                           style="font-size: .3em; vertical-align: middle"></i>
                                        <p>
                                            Mora global
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>{% endcomment %}
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if perms.backend.trust_siniestros_tramites or perms.backend.trust_siniestros_tramites %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Siniestros
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if perms.backend.trust_siniestros_tramites %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:siniestrotramite' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Trámites
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_siniestros_tramites %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:siniestro' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Liquidación
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if perms.backend.trust_catalogos_aseguradora or perms.backend.trust_catalogos_grupo or perms.backend.trust_catalogos_ramo or perms.backend.trust_catalogos_subramo or perms.backend.trust_catalogos_linea or perms.backend.trust_catalogos_tarifa %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Catálogos
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if perms.backend.trust_catalogos_linea %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:lineas' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Líneas de negocio
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_campain %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:campains' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Campañas
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_aseguradora %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:aseguradoras' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Aseguradoras
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_tarifa %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:tarifas' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Tarifas
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_grupo %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:ramos' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Ramos
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_ramo %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:subramos' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Sub ramos
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_subramo %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:grupos' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Grupos
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_documenttypes %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:tipo_doc' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Documentos PLD
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.backend.trust_catalogos_seguimiento %}
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:seguimientos' %}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>
                                    Seguimientos
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if perms.backend.trust_cotizador_empresa or perms.backend.trust_cotizador_marca %}
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Aplicaciones
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>
                                Cotizador
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            {% if perms.backend.trust_cotizador_empresa %}
                                <li class="nav-item">
                                    <a href="{% url 'trustseguros:configcotizador' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"
                                           style="font-size: .3em; vertical-align: middle"></i>
                                        <p>Empresas afiliadas</p>
                                    </a>
                                </li>
                            {% endif %}
                            {% if perms.backend.trust_cotizador_marca %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"
                                           style="font-size: .3em; vertical-align: middle"></i>
                                        <p>Marcas con regargo</p>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'trustseguros:cargaoportunidades' %}" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>
                                Cargas Oportunidades
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Travel Banpro
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_currencies' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Monedas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_categories' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Categorias
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_territories' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Regiones
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_countries' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Paises
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_cities' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Ciudades
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_plans' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Planes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:travel_asistencias' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Asistencias
                        </p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Reportes
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_poliza_emitida' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Pólizas emitidas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_poliza_cancelada' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Pólizas canceladas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_poliza_renovada' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Pólizas renovadas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_poliza_vencer' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Pólizas por vencer
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_tramite' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Trámites
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_crm' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Oportunidades de negocio
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_cotizaciones' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Cotizaciones
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_siniestro' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Reporte de siniestros
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_mora' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Reporte de mora
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:reporte_comision' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Reporte de comisión
                        </p>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>
