{% extends 'admin/change_form.html' %}


{% block object-tools-items %}
    <li>
        <a id="usuario-cotizador" style="cursor: pointer">Generar usuario cotizador</a>
    </li>
    {{ block.super }}
{% endblock %}


{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function(){
                $('#usuario-cotizador').on('click', function(){
                    $.ajax("{% url 'migracion:usuario_coctizador' %}", {
                        method: "POST",
                        data: {id: "{{ original.id }}"},
                        success: function (response) {
                            location.reload();
                        }
                    })
                })
            })
        })(grp.jQuery)

    </script>
{% endblock %}