$verde: #326634;
$verdeopa: #32663444;
$gris: #353533;
$blanco: #ffffff;
$negro: #000000;
$cotizar: #4d56a9;
$misseguros: #51972d;
$missegurosopa: #51972d44;
$referenciar: #cf403d;
$siniestro: #cf403d;
$recomendados: #673201;
$contactanos: #ec822b;
$linkAzul: #007bff;
