$max-width-screen: 820px;
$error-color: red;

.form-title {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.3em;
}

.form-container {
  min-height: calc(100vh - 500px);

  .row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 10px;

    @media screen and (max-width: $max-width-screen) {
      grid-template-columns: 1fr !important;
    }

    .col {
      width: calc(100% - 80px);
      padding: 0 40px 0 40px;

      @media screen and (max-width: $max-width-screen) {
        width: calc(100% - 20px);
        padding: 0 10px 0 10px;
      }

      .form-group {
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

        @media screen and (max-width: $max-width-screen) {
          grid-template-columns: 1fr !important;
        }

        & div {
          .form-control {
            width: 100% !important;
            margin: 0 !important;
          }

          .is-invalid {
            border-color: $error-color;
          }

          .invalid-feedback {
            color: $error-color;
          }
        }
      }

    }
  }

  .row-center {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-button {
      width: 100%;
      max-width: 300px;
    }
  }
}

.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #ffffff66;
  display: none;
  justify-content: center;
  align-items: center;
}