@import "colores";

@keyframes activar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes desactivar {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.menu-nav {
  position: relative;
  background-color: $blanco;
  border: 1px solid $blanco;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .menu-ul {
    height: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;

    li {
      list-style: none;
      text-align: center;
      border: 1px solid $verde;
      width: 100%;
      a {
        color: $verde;
        font-family: "Museo Sans", monospace;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        figure {
          display: flex;
          align-items: center;
          img {
            height: 45px;
          }
          span {
            font-size: 20px;
            margin-top: 7px;
          }
        }
        div.menu-bar {
          display: none;
        }
        &:hover{
          color: $verde;
          text-decoration: none;
        }
      }

    }

  }

  .menu-ul.collapse {
    height: 0;
    display: none;
  }

  .menu-button {
    margin: auto;
    margin-top: 0;
    .icon-bar {
      display: block;
      width: 40px;
      height: 6px;
      margin: 5px 0;
      border-radius: 6px;
      background-color: $verde;
    }
    @media screen and (min-width: 720px) {
      display: none;
    }
  }

}