@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  @keyframes activar {
    0% {
      width: 0;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes desactivar {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  .user-menu-mobil {
    display: none;
  }

  .menu-nav .menu-ul {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .menu-nav .menu-ul li {
    border: none;
  }
  .menu-nav .menu-ul li a figure img {
    height: 35px;
  }
  .menu-nav .menu-ul li a figure span {
    font-size: 10px;
  }
  .menu-nav .menu-ul li a div.menu-bar {
    display: flex;
    width: 0;
    height: 3px;
    border-radius: 50px;
    background-color: #326634;
  }
  .menu-nav .menu-ul li a.active div.menu-bar {
    width: 70%;
  }
  .menu-nav .menu-ul.collapse {
    height: auto;
    display: flex;
  }
  .menu-nav .menu-button {
    margin: auto;
    margin-top: 0;
  }
  .menu-nav .menu-button .icon-bar {
    display: block;
    width: 40px;
    height: 6px;
    margin: 5px 0;
    border-radius: 6px;
    background-color: #326634;
  }
}
@media screen and (min-width: 600px) and (min-width: 720px) {
  .menu-nav .menu-button {
    display: none;
  }
}
@media (min-width: 600px) {
  section .options {
    flex-direction: row;
  }
  section form {
    background-color: #ffffff;
    display: grid;
    grid-template: 1fr/repeat(2, 1fr);
    grid-template-areas: "errors errors" "left right" "buttons buttons";
    grid-gap: 20px;
    justify-items: center;
    padding: 40px 0;
  }
  section form .errors {
    grid-area: errors;
  }
  section form .left {
    grid-area: left;
  }
  section form .right {
    grid-area: right;
  }
  section form .buttons {
    grid-area: buttons;
  }
  section form textarea {
    height: 128px !important;
  }
}
@media (min-width: 600px) {
  #links {
    grid-template: 1fr/1fr 1fr;
  }
}
@media (min-width: 600px) {
  footer .info {
    grid-template: 1fr/repeat(3, 1fr);
    grid-template-areas: "contacto nosotros mapa";
  }
  footer .info-nosotros {
    grid-area: nosotros;
    font-size: 0.5em;
  }
  footer .info-contacto {
    grid-area: contacto;
  }
  footer .info-mapa {
    grid-area: mapa;
  }
  footer .copyright {
    font-size: 0.9em;
  }
}
@media (min-width: 600px) {
  .modal-lg {
    min-width: 80% !important;
    max-width: 80% !important;
    margin: 0 auto;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .datos-vehiculo {
    font-size: 1em;
  }
  .datos-vehiculo #btn-cotizacion, .datos-vehiculo #btn-cotizacion-basica {
    font-size: 1em;
  }

  .cotizador-table-auto-basica, .cotizador-table-auto-amplia {
    font-size: 9pt;
  }

  .cotizador-table-total-amplia {
    font-size: 10pt;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .menu-nav {
    padding-top: 15px;
  }
  .menu-nav .menu-ul li a figure span {
    font-size: 20px;
  }
  .menu-nav .menu-ul li a div.menu-bar {
    height: 5px;
  }

  .lead {
    font-size: 1.5em;
  }
  .lead-main {
    font-size: 1.7em;
  }

  #content {
    display: grid;
    grid-template: 1fr/0.75fr 0.25fr;
    grid-gap: 20px;
  }
  #content aside {
    display: initial;
  }

  #links {
    grid-template: 1fr/1fr 1fr;
    grid-gap: 20px;
  }
  #links img {
    height: 110px;
  }
  #links a {
    min-height: 130px;
  }
  #links a .link-description {
    display: flex;
    flex-direction: column;
  }
  #links a .link-description .action {
    font-size: 1.1em;
  }
  #links a .link-description .message {
    font-size: 0.8em;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  section .buttons {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
  }
  section .buttons button {
    position: relative;
    cursor: pointer;
    margin: 20px;
    padding: 5px 20px;
    border-width: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #326634;
    color: #ffffff;
    transition: background-color 0.3s;
    font-size: 1.2em;
  }
  section .buttons button:hover, section .buttons button:focus {
    background-color: #27ae60;
  }
  section .buttons button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  section .buttons button:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
  }
  section .table-container p {
    font-size: 0.8em;
  }
  section .table-container .table-title h2 {
    font-size: 2em;
  }
  section .table-container .table-title img {
    height: 90px;
  }
  section .table-container table thead tr {
    border-bottom: 1px solid black;
  }
  section .table-container table thead tr th {
    font-size: 1em;
  }
  section .table-container table tbody tr td {
    font-size: 0.8em;
  }
  section .table-container table tbody tr td.descripcion {
    font-size: 1.2em;
  }

  footer .info {
    grid-template: 1fr/repeat(3, 1fr);
    grid-template-areas: "contacto nosotros mapa";
    align-items: center;
  }
  footer .info-nosotros {
    grid-area: nosotros;
    font-size: 1em;
  }
  footer .copyright {
    font-size: 0.9em;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  /*.header-principal {
    width: 85vw;
  }

  .menu-nav {
    width: 80vw;
  }

  #content {
    width: 80vw;
  }*/
  .modal-lg {
    min-width: 60% !important;
    max-width: 60% !important;
    margin: 0 auto;
  }
}
/*
@media screen and (min-width: 1279px) {
    font-size: 18px;
  }
@media screen and (min-width: 720px) {
  min-width: 80% !important;
  max-width: 80% !important;
  margin: 0 10%;
}
@media screen and (min-width: 1700px) {
  min-width: 50% !important;
  max-width: 50% !important;
  margin: auto;
}
@media screen and (min-width: 1279px) {
    font-size: 15px;
  }
@media screen and (min-width: 720px) {
      display: none;
    }
@media screen and (min-width: 720px) {
      flex-direction: row;
    }
@media screen and (min-width: 1500px) {
          height: 125px;
        }*/

/*# sourceMappingURL=responsive.css.map */
