{% load crispy_forms_tags crispy_forms_filters datatables mathfilters humanize %}

{% block content %}
    <div class="izimodal" id="{{ opts.model_name }}-modal">

        <div class="modal-body" style="padding: 0; min-height: 700px">
            <div class="card card-trust">
                <div class="card-body">
                    <form action="." data-method="{{ method }}" method="{{ method }}" id="{{ opts.model_name }}-form"
                          data-toggle="validator">
                        <input type="hidden" name="id" {% if instance.id %}value="{{ instance.id }}"{% endif %}>
                        {% csrf_token %}
                        <div class="row">
                            {{ form.status|as_crispy_field }}
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">Información principal</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">{{ form.campain|as_crispy_field }}</div>
                                            <div class="col">{{ form.days|as_crispy_field }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col">{{ form.ramo|as_crispy_field }}</div>
                                            <div class="col">{{ form.sub_ramo|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">Información del prospecto</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">{{ form.prospect }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">Póliza actual</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">{{ form.no_poliza|as_crispy_field }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col">{{ form.aseguradora|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">Datos del bien</div>
                                    <div class="card-body" style="max-height: 757px; overflow-y: auto;">
                                        {{ form.json_data }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">Comentarios</div>
                                    <div class="card-body">
                                        {{ form.bitacora }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">Archivos</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">{{ form.drive }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">Compañias a cotizar</div>
                                    <div class="card-body">
                                        <div class="row">
                                            {% comment %}<div class="col">{{ form.aseguradoras|as_crispy_field }}</div>{% endcomment %}
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">{{ form.valor_nuevo|as_crispy_field }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">{{ form.rc_exceso|as_crispy_field }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">{{ form.valor_exceso|as_crispy_field }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 form-buttons">
                    <button type="button" class="btn btn-info" id="btn-save">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


