{% extends 'adminlte/datatables.html' %}
{% load static datatables %}


{% block javascript %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.dt-buttons').css({
                display: 'none'
            });

            $(document).on('change', '#id_recibos', function () {
                $('#id_recibo_editar').val($(this).val());
                const form = $('#{{ opts.model_name }}-form');
                const data = new FormData(form[0]);
                perform_action(data, 'POST', '.', 'cambiar_recibo')
            })

        });

    </script>
{% endblock %}