{% extends 'adminlte/datatables.html' %}
{% load static datatables %}


{% block javascript %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.dt-buttons').css({
                display: 'none'
            });

            $(document).on('change', '#id_recibos', function () {
                $('#id_recibo_editar').val($(this).val());
                $('#{{ opts.model_name }}-form').trigger('submit')
            })

        });

    </script>
{% endblock %}