{% extends 'adminlte/datatables.html' %}
{% load static datatables %}


{% block style %}
    {{ block.super }}
    <style type="text/css">
        select[name="pagocuota-medio_pago"] {
            min-width: 185px;
        }
    </style>
{% endblock %}


{% block javascript %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {

            $('.dt-buttons').css({
                display: 'none'
            });

            $(document).on('change', '#id_recibos', function () {
                $('#id_recibo_editar').val($(this).val());
                const form = $('#{{ opts.model_name }}-form')[0];
                perform_action(form, 'cambiar_recibo', process_response);
            });

            const calcular_prima_neta = function () {
                let prima = parseFloat($('input[name="subtotal"]').val());
                let descuento = parseFloat($('input[name="descuento"]').val());
                $('input[name="prima_neta"]').val((prima - descuento).toFixed(2))
                    .trigger('change')
            };

            const calcular_total = function () {
                let prima_neta = parseFloat($('input[name="prima_neta"]').val());
                let emision = parseFloat($('input=[name"emision"]').val());
                let iva = parseFloat($('input[name="iva"]').val());
                let otros = parseFloat($('input[name="otros"]').val());
                $('input[name="total]').val((prima_neta + emision + iva + otros).toFixed(2)).trigger('change')
            };

            const calcular_comision = function () {
                let prima_neta = parseFloat($('input[name="prima_neta"]').val());
                let per_comision = parseFloat($('input[name="per_comision"]').val());
                $('input[name="amount_comision"]').val(((prima_neta * per_comision) / 100).toFixed(2))
            };

            const calcular_tabla_pagos = function () {
                const form = $('#poliza-form')[0];
                const data = new FormData(form);
                data.append('calcular_tabla_pagos', 'calcular_tabla_pagos');
                $.ajax(".", {
                    method: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        const pagos = $('#id_tabla_pagos tbody').empty();
                        $.each(response, function (i, o) {
                            pagos.append(`
                                    <tr>
                                        <td>
                                            <input type="hidden" name="tabla_pagos_id">
                                            <input type="text" name="tabla_pagos_numero" class="form-control" readonly value="${o.numero}" style="text-align: center">
                                        </td>
                                        <td>
                                            <input type="text" name="tabla_pagos_fecha_vence" class="form-control" readonly value="${o.fecha}" style="text-align: center">
                                        </td>
                                        <td>
                                            <input type="text" name="tabla_pagos_monto" class="form-control numberinput" value="${o.monto}">
                                        </td>
                                        <td>
                                            <input type="text" name="tabla_pagos_saldo" class="form-control numberinput" value="${o.monto}">
                                        </td>
                                        <td>
                                            <input type="text" name="tabla_pagos_monto_comision" class="form-control numberinput" value="${o.monto_comision}">
                                        </td>
                                        <td>
                                            <input type="text" name="tabla_pagos_estado" class="form-control" readonly value="${o.estado}">
                                        </td>
                                        <td>
                                            <input type="text" name="tabla_pagos_mora" class="form-control" readonly value="${o.mora}" style="text-align: center">
                                        </td>
                                    </tr>

                            `)
                        });
                        let total_pagos = 0.0;
                        $.each($('input[name="tabla_pagos_monto"]'), function (i, o) {
                            total_pagos += parseFloat($(o).val())
                        });
                        $('#id_total_pagos').val(total_pagos);
                    }
                })
            };

            $(document).on('change', 'input[name="tabla_pagos_monto"]', function () {
                let total_pagos = 0.0;
                $.each($('input[name="tabla_pagos_monto"]'), function (i, o) {
                    total_pagos += parseFloat($(o).val())
                });
                $('#id_total_pagos').val(total_pagos);
            });

            $(document).on('change', 'input[name="subtotal"]', calcular_prima_neta);
            $(document).on('change', 'input[name="descuento"]', calcular_prima_neta);

            $(document).on('change', 'input[name="prima_neta"]', calcular_total);
            $(document).on('change', 'input[name="emision"]', calcular_total);
            $(document).on('change', 'input[name="iva"]', calcular_total);
            $(document).on('change', 'input[name="otros"]', calcular_total);

            $(document).on('change', 'input[name="prima_neta"]', calcular_comision);
            $(document).on('change', 'input[name="per_comision"]', calcular_comision);

            $(document).on('change', '#id_cantidad_cuotas', calcular_tabla_pagos);
            $(document).on('change', '#id_fecha_pago', calcular_tabla_pagos);
            $(document).on('change', 'input[name="total"]', calcular_tabla_pagos);
            $(document).on('change', 'input[name="per_comision"]', calcular_tabla_pagos);

            $(document).on('change', '#id_f_pago', function () {
                if ($(this).val() === "1") {
                    $('#id_cuotas').attr('readonly', 'readonly').val('1').trigger('change')
                } else {
                    $('#id_cuotas').removeAttr('readonly')
                }
            });
            $(document).on('click', '#btn-ecuenta', function () {
                const _this = $(this);
                $.ajax('.', {
                    method: "POST",
                    data: {
                        id: $('input[name="id"]').val(),
                        estado_cuenta: 'estado_cuenta'
                    },
                    success: function (response) {
                        let blob = new Blob([response], {type: 'application/pdf'});
                        let link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = "Estado de cuenta.pdf";
                        link.click();
                        _this.removeAttr('disabled')
                    }
                })
            });
            $(document).on('click', '#btn-null', function () {
                swal({
                    title: 'Estas seguro?',
                    text: "Esta acción no se puede revertir!",
                    imageUrl: "{% static 'cotizador/images/trusty/pregunta.png' %}",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, anúlalo!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        swal(
                            'Recibo anulado con éxito!',
                            'Todas las operaciones relacionadas se realizaron correctamente.',
                            'success'
                        ).then(() => {
                            const form = $('#{{ opts.model_name }}-form');
                            const data = new FormData(form[0]);
                            perform_action(data, 'POST', '.', 'anular_recibo')
                        })
                    }
                })

            });

            $(document).on('click', '.btn-edit-cuota', function () {
                const _this = $(this);
                $.ajax('.', {
                    method: "POST",
                    data: {
                        cuota: _this.data('cuota'),
                        opencuota: 'opencuota'
                    },
                    success: function (response) {
                        modal.iziModal('destroy');
                        modal.empty().append(response.form);
                        modal.iziModal({
                            zindex: 1500, width: 1300,
                            title: response.instance.str,
                            subtitle: 'datos de la cuota',
                            headerColor: "#326634", padding: 20,
                            onClosed: () => {
                                open_object(response.instance.poliza.id)
                            }
                        });
                        modal.iziModal('open');
                    }
                });
            });

            $(document).on('click', '.btn-add-cuota', function () {
                $.ajax('.', {
                    method: "POST",
                    data: {
                        nuevopago: 'nuevopago'
                    },
                    success: function (response) {
                        const pagos = $('#id_pagos tbody');
                        pagos.append(response.html)
                    }
                })
            });

            $(document).on('click', '.btn-save-cuota', function () {
                const cuotaform = document.getElementById('cuota-form');
                const data = new FormData(cuotaform);
                data.append('guardarcuota', 'guardarcuota');
                $.ajax('.', {
                    method: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        redraw_object(response)
                    }
                })
            });

            $(document).on('click', '.btn-del-pago', function () {
                const _this = $(this);
                const tr = _this.parents('tr');
                if (_this.data('id')) {
                    $.ajax($ajax_execute, {
                        method: "POST",
                        data: {
                            app_label: 'backend', model: 'pagocuota', id: _this.data('id'),
                            'view': 'delete'
                        },
                        success: function (response) {
                            tr.remove();
                        }
                    })
                } else {
                    tr.remove()
                }
            })

        });

    </script>
{% endblock %}