{% load crispy_forms_tags crispy_forms_filters datatables mathfilters humanize %}

{% block content %}
    <div class="izimodal" id="{{ opts.model_name }}-modal">

        <div class="modal-body" style="padding: 0; min-height: 700px">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-toggle="tab" href="#{{ opts.model_name }}-info" class="nav-link active">Información
                        general</a>
                </li>
                {% if instance.id %}
                    {% if instance.genera_endoso %}
                        <li class="nav-item">
                            <a data-toggle="tab" href="#{{ opts.model_name }}-endoso" class="nav-link">
                                Datos del recibo</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a data-toggle="tab" href="#{{ opts.model_name }}-drive-files" class="nav-link">
                            Soportes</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#{{ opts.model_name }}-bitacora" class="nav-link">
                            Bitácora</a>
                    </li>
                {% endif %}
            </ul>

            <div class="card card-trust">
                <div class="card-body">
                    <form action="." data-method="{{ method }}" method="{{ method }}" id="{{ opts.model_name }}-form"
                          data-toggle="validator">
                        <input type="hidden" name="id" {% if instance.id %}value="{{ instance.id }}"{% endif %}>

                        {% csrf_token %}
                        <div class="tab-content">
                            <div id="{{ opts.model_name }}-info"
                                 class="tab-pane fade show active">
                                <div class="row">
                                    <div class="col">
                                        {{ form.code|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.fecha|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.hora|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.tipo_tramite|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.cliente|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.poliza|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.ramo|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.sub_ramo|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.grupo|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.aseguradora|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.contacto_aseguradora|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.solicitado_por|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.medio_solicitud|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.estado|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.genera_endoso|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.user|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.descripcion|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div id="{{ opts.model_name }}-endoso"
                                 class="tab-pane fade">
                                <div class="row">
                                    <div class="col">{{ form.f_pago|as_crispy_field }}</div>
                                    <div class="col">{{ form.m_pago|as_crispy_field }}</div>
                                    <div class="col">{{ form.cuotas|as_crispy_field }}</div>
                                    <div class="col">{{ form.fecha_pago|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <table class="table" style="border: none !important;">
                                                <tr>
                                                    <td><b>Prima</b></td>
                                                    <td class="float-right">{{ form.subtotal|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Descuento</b></td>
                                                    <td class="float-right">{{ form.descuento|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Prima neta</b></td>
                                                    <td class="float-right">
                                                        <input type="number" class="form-control" name="prima_neta"
                                                               readonly value="{{ instance.prima_neta }}"
                                                               id="id_prima_neta">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Emisión</b></td>
                                                    <td class="float-right">{{ form.emision|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>IVA</b></td>
                                                    <td class="float-right">{{ form.iva|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Otros gastos</b></td>
                                                    <td class="float-right">{{ form.otros|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total</b></td>
                                                    <td class="float-right">{{ form.total|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>% Comisión</b></td>
                                                    <td class="float-right">{{ form.per_comision|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Monto de comisión</b></td>
                                                    <td class="float-right">{{ form.amount_comision|as_inline_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Moneda</b></td>
                                                    <td class="float-right">{{ form.moneda|as_inline_field }}</td>
                                                </tr>
                                                {% comment %}<tr>
                                                <td><b>Suma asegurada total</b></td>
                                                <td class="float-right">{{ form.suma_asegurada|as_inline_field }}</td>
                                            </tr>{% endcomment %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Tabla de pagos</h5>
                                                <div class="card-text">
                                                    {{ form.tabla_pagos }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div id="{{ opts.model_name }}-drive-files"
                                 class="tab-pane fade">
                                {{ form.drive }}
                            </div>
                            <div id="{{ opts.model_name }}-bitacora"
                                 class="tab-pane fade">
                                {{ form.bitacora }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 form-buttons">
                    {% block buttons %}
                        <button type="button" class="btn btn-info" id="btn-save">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra-content %}
{% endblock %}


