{% extends 'adminlte/datatables.html' %}
{% load static %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            const icon = "{% static 'trustseguros/lte/img/PDF_file_icon.png' %}";
            const documentTemplate = docName => `<div class="send-email-attachment-item send-email-attachment-file">
                <i class="fa fa-window-close send-email-attachment-delete"></i>
                <figure class="email-attachment">
                    <img src="${icon}">
                    <figcaption>${docName}</figcaption>
                </figure>
            </div>`;

            const imprimir_remision = function () {
                const _this = $(this);
                $.ajax('.', {
                    method: "POST",
                    data: {
                        'imprimir_remision': 'imprimir_remision',
                        'pk': $('input[name="pk"]').val()
                    },
                    success: function (response) {
                        let blob = new Blob([response], {type: 'application/pdf'});
                        let link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = `Remisión.pdf`;
                        link.click();
                        _this.removeAttr('disabled')
                    }
                })
            };
            $(document).on('click', '.btn-print', imprimir_remision);
            $(document).on('click', '.email-attachment', imprimir_remision);
            $(document).on('click', '.btn-send', function () {
                const form = document.querySelector('form');
                perform_action(form, 'preparar_remision', response => {
                    modal.iziModal('destroy');
                    modal.html(response.html);
                    modal.iziModal({
                        title: 'Enviar remisión',
                        subtitle: 'Por favor lee el correo antes de enviar',
                        width: 800, padding: 20, fullscreen: false, zindex: 1500,
                        headerColor: '#326634'
                    })
                        .iziModal('open');
                })
            });
            $(document).on('click', '.send-email-attachment-new', function (){
                const $this = $(this);
                const $parent = $this.closest('.send-email-attachment');
                const filesInput = $parent.find('.send-email-attachment-input');
                $(filesInput).trigger('click');
            });
            $(document).on('click', '.send-email-attachment-delete', function (){
                $(this).parent().remove();
            });
            $(document).on('change', '.send-email-attachment-input', function (){
                const $this = $(this);
                const files = $this[0].files;
                const $parent = $this.closest('.send-email-attachment');
                const filesContainer = $parent.find('.send-email-attachment-files-container').empty();
                $.each(files, function (i, file) {
                    $(filesContainer).append(documentTemplate(file.name));
                });
            });
            $(document).on('submit', '.send-mail-form', function (e) {
                e.preventDefault();
                const data = new FormData(this);
                data.append('enviar_remision', 'enviar_remision')
                $.ajax('.', {
                    method: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response) {
                        console.log(response)
                    }
                })
            })
        })
    </script>
{% endblock %}