{% extends 'adminlte/datatables.html' %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            const imprimir_remision = function () {
                const _this = $(this);
                $.ajax('.', {
                    method: "POST",
                    data: {
                        'imprimir_remision': 'imprimir_remision',
                        'pk': $('input[name="pk"]').val()
                    },
                    success: function (response) {
                        let blob = new Blob([response], {type: 'application/pdf'});
                        let link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = `Remisión.pdf`;
                        link.click();
                        _this.removeAttr('disabled')
                    }
                })
            };
            $(document).on('click', '.btn-print', imprimir_remision);
            $(document).on('click', '.email-attachment', imprimir_remision);
            $(document).on('click', '.btn-send', function () {
                const form = document.querySelector('form');
                perform_action(form, 'preparar_remision', response => {
                    modal.iziModal('destroy');
                    modal.html(response.html);
                    modal.iziModal({
                        title: 'Enviar remisión',
                        subtitle: 'Por favor lee el correo antes de enviar',
                        width: 600, padding: 20, fullscreen: false, zindex: 1500,
                        headerColor: '#326634'
                    })
                        .iziModal('open');
                })
            });
            $(document).on('submit', '.send-mail-form', function (e) {
                e.preventDefault();
                const data = new FormData(this);
                data.append('enviar_remision', 'enviar_remision')
                $.ajax('.', {
                    method: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response)
                    },
                    error: function(response){
                        console.log(response)
                    }
                })
            })
        })
    </script>
{% endblock %}