<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="true">

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Clientes
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Clientes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:persona_natural' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"
                                   style="font-size: .3em; vertical-align: middle"></i>
                                <p>Persona natural</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'trustseguros:persona_juridica' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"
                                   style="font-size: .3em; vertical-align: middle"></i>
                                <p>Persona jurídica</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Pólizas
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'trustseguros:polizas' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Pólizas
                        </p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Catálogos
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'trustseguros:aseguradoras' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Aseguradoras
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:ramos' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Ramos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:subramos' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Sub ramos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'trustseguros:grupos' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>
                            Grupos
                        </p>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>