{% extends 'trustseguros/lte/datatables.html' %}
{% load static datatables %}


{% block javascript %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {

            function coberturaTemplate(cobertura) {
                return (`<tr>
                            <td>
                                <input type="checkbox" name="cobertura-select">
                            </td>
                            <td>
                                ${cobertura.name}
                                <input type="hidden" name="cobertura" value="${cobertura.id}">
                            </td>
                            <td>
                                <input type="number" class="form-control" value="0.0" style="max-width: 150px">
                            </td>
                        </tr>`)
            }

            $(document).on('change', '#id_ramo', function () {
                const _this = $(this);
                $.ajax("{% url 'ajax_getCollection' %}", {
                    method: 'POST',
                    data: {
                        app_label: 'cotizador', model: 'subramo',
                        filters: `{'ramo_id': '${_this.val()}'}`
                    },
                    success: function (response) {
                        const table = $('#id_sub_ramo').empty();
                        table.append(`<option value="">---------</option>`);
                        $.each(response, function (i, o) {
                            table.append(`<option value="${o.id}">${o.name}</option>`);
                        })
                    }
                })
            });

            $(document).on('change', '#id_sub_ramo', function () {
                const _this = $(this);
                $.ajax("{% url 'ajax_getCollection' %}", {
                    method: 'POST',
                    data: {
                        app_label: 'cotizador', model: 'cobertura',
                        filters: `{'sub_ramo_id': '${_this.val()}'}`
                    },
                    success: function (response) {
                        const table = $('#coberturas-table tbody').empty();
                        $.each(response, function (i, o) {
                            table.append(coberturaTemplate(o));
                        })
                    }
                })
            });

            $(document).on('change', '#id_ramo', function () {
                const _this = $(this);
                const $fieldset = $('.extra_data_fieldset').empty();
                $.ajax("{% url 'ajax_getCollection' %}", {
                    method: "POST",
                    data: {
                        app_label: 'cotizador', model: 'campoadicional',
                        filters: `{'ramo_id': ${_this.val()}}`
                    },
                    success: function (response) {
                        $.each(response, function (i, o) {
                            $fieldset.append(`
                            <div class="col-md-3">
                                <div id="div_${o.name}" class="form-group">

                                    <label for="id_${o.name}" class="col-form-label">
                                        ${o.label}
                                    </label>

                                    <input name="${o.name}" class="form-control" id="id_${o.name}">

                                </div>
                            </div>
                            `)
                        })
                    }
                })
            });

            const calcular_prima_neta = function(){
                let prima = parseFloat($('#id_subtotal').val());
                let descuento = parseFloat($('#id_descuento').val());
                $('#id_prima_neta').val((prima - descuento).toFixed(2))
            };

            const calcular_total = function(){
                let prima_neta = parseFloat($('#id_prima_neta').val());
                let emision = parseFloat($('#id_emision').val());
                let iva = parseFloat($('#id_iva').val());
                let otros = parseFloat($('#id_otros').val());
                $('#id_total').val((prima_neta + emision + iva + otros).toFixed(2))
            };

            $(document).on('change', '#id_subtotal', calcular_prima_neta);
            $(document).on('change', '#id_descuento', calcular_prima_neta);

            $(document).on('change', '#id_prima_neta', calcular_total);
            $(document).on('change', '#id_emision', calcular_total);
            $(document).on('change', '#id_iva', calcular_total);
            $(document).on('change', '#id_otros', calcular_total);

        });

    </script>

    {% for script in media.js %}
        <script src="{% static script %}"></script>
    {% endfor %}
{% endblock %}