{% load crispy_forms_tags crispy_forms_filters datatables mathfilters humanize %}

{% block content %}
    <div class="izimodal" id="{{ opts.model_name }}-modal">

        <div class="modal-body" style="padding: 0; min-height: 700px">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-toggle="tab" href="#{{ opts.model_name }}-info" class="nav-link active">Información
                        general</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#{{ opts.model_name }}-costos-coberturas" class="nav-link">
                        Costos y coberturas</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#{{ opts.model_name }}-pago" class="nav-link">
                        Forma y medio de pago</a>
                </li>
                {% if instance.id %}
                    <li class="nav-item">
                        <a data-toggle="tab" href="#{{ opts.model_name }}-adicionales" class="nav-link">
                            Datos técnicos</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#{{ opts.model_name }}-drive-files" class="nav-link">
                            Soportes</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#{{ opts.model_name }}-bitacora" class="nav-link">
                            Bitácora</a>
                    </li>
                {% endif %}
            </ul>

            <div class="card card-trust">
                <div class="card-body">
                    <form action="." data-method="{{ method }}" method="{{ method }}" id="{{ opts.model_name }}-form"
                          data-toggle="validator">
                        <input type="hidden" name="id" {% if instance.id %}value="{{ instance.id }}"{% endif %}>

                        {% csrf_token %}
                        <div class="tab-content">
                            <div id="{{ opts.model_name }}-info"
                                 class="tab-pane fade show active">
                                <div class="row">
                                    <div class="col">
                                        {{ form.no_poliza|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.ramo|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.sub_ramo|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.fecha_emision|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.fecha_vence|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.aseguradora|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.cliente|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.contratante|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.grupo|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.tipo_poliza|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.cesion_derecho|as_crispy_field }}
                                    </div>
                                    <div class="col" id="col-cesionario" {% if not instance.cesion_derecho %}
                                         style="visibility: hidden" {% endif %}>
                                        {{ form.cesioinario|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.estado_poliza|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.no_recibo|as_crispy_field }}
                                    </div>
                                    <div class="col">
                                        {{ form.concepto|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div id="{{ opts.model_name }}-costos-coberturas"
                                 class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-4">
                                        <table class="table" style="border: none !important;">
                                            <tr>
                                                <td><b>Prima</b></td>
                                                <td class="float-right">{{ form.subtotal|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Descuento</b></td>
                                                <td class="float-right">{{ form.descuento|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Prima neta</b></td>
                                                <td class="float-right">
                                                    <input type="number" class="form-control" name="prima_neta"
                                                           readonly value="0.0" id="id_prima_neta">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>Emisión</b></td>
                                                <td class="float-right">{{ form.emision|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>IVA</b></td>
                                                <td class="float-right">{{ form.iva|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Otros gastos</b></td>
                                                <td class="float-right">{{ form.otros|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Total</b></td>
                                                <td class="float-right">{{ form.total|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>% Comisión</b></td>
                                                <td class="float-right">{{ form.per_comision|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Monto de comisión</b></td>
                                                <td class="float-right">{{ form.amount_comision|as_inline_field }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Moneda</b></td>
                                                <td class="float-right">{{ form.moneda|as_inline_field }}</td>
                                            </tr>
                                            {% comment %}<tr>
                                                <td><b>Suma asegurada total</b></td>
                                                <td class="float-right">{{ form.suma_asegurada|as_inline_field }}</td>
                                            </tr>{% endcomment %}
                                        </table>
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.coberturas }}
                                    </div>
                                </div>
                            </div>
                            <div id="{{ opts.model_name }}-pago"
                                 class="tab-pane fade">
                                <div class="row">
                                    <div class="col">{{ form.f_pago|as_crispy_field }}</div>
                                    <div class="col">{{ form.m_pago|as_crispy_field }}</div>
                                    <div class="col">{{ form.cuotas|as_crispy_field }}</div>
                                    <div class="col">{{ form.fecha_pago|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    {{ form.tabla_pagos }}
                                </div>
                            </div>
                            <div id="{{ opts.model_name }}-adicionales"
                                 class="tab-pane fade">
                                {{ form.campos_adicionales }}
                            </div>
                            <div id="{{ opts.model_name }}-drive-files"
                                 class="tab-pane fade">
                                {{ form.drive }}
                            </div>
                            <div id="{{ opts.model_name }}-bitacora"
                                 class="tab-pane fade">
                                {{ form.bitacora }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 form-buttons">
                    {% block buttons %}
                        {% ifequal instance.estado_poliza 0 %}
                            <button type="button" class="btn btn-info" id="btn-save">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            {% if instance.id %}
                                <button type="button" class="btn btn-success" id="btn-finish">
                                    <i class="fa fa-suitcase"></i>
                                    Finalizar
                                </button>
                            {% endif %}
                        {% endifequal %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra-content %}
{% endblock %}


