{% extends 'trustseguros/lte/datatables.html' %}
{% load static datatables %}




{% block javascript %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {

            function coberturaTemplate(cobertura) {
                return (`<tr>
                            <td>
                                <input type="checkbox" name="cobertura-select">
                            </td>
                            <td>
                                ${cobertura.name}
                            </td>
                            <td>
                                <input type="number" class="form-control" value="0.0" style="max-width: 150px">
                            </td>
                        </tr>`)
            }

            $(document).on('change', '#id_ramo', function () {
                const _this = $(this);
                $.ajax("{% url 'ajax_getCollection' %}", {
                    method: 'POST',
                    data: {
                        app_label: 'cotizador', model: 'subramo',
                        filters: `{'ramo_id': '${_this.val()}'}`
                    },
                    success: function (response) {
                        const table = $('#id_sub_ramo').empty();
                        table.append(`<option value="">---------</option>`);
                        $.each(response, function (i, o) {
                            table.append(`<option value="${o.id}">${o.name}</option>`);
                        })
                    }
                })
            });

            $(document).on('change', '#id_sub_ramo', function () {
                const _this = $(this);
                $.ajax("{% url 'ajax_getCollection' %}", {
                    method: 'POST',
                    data: {
                        app_label: 'cotizador', model: 'cobertura',
                        filters: `{'sub_ramo_id': '${_this.val()}'}`
                    },
                    success: function (response) {
                        const table = $('#coberturas-table tbody').empty();
                        $.each(response, function (i, o) {
                            table.append(coberturaTemplate(o));
                        })
                    }
                })
            });

            $(document).on('change', '#id_ramo', function () {
                const _this = $(this);
                const $fieldset = $('.extra_data_fieldset').empty();
                $.ajax("{% url 'ajax_getCollection' %}", {
                    method: "POST",
                    data: {
                        app_label: 'cotizador', model: 'campoadicional',
                        filters: `{'ramo_id': ${_this.val()}}`
                    },
                    success: function (response) {
                        $.each(response, function (i, o) {
                            $fieldset.append(`
                            <div class="col-md-3">
                                <div id="div_${o.name}" class="form-group">

                                    <label for="id_${o.name}" class="col-form-label">
                                        ${o.label}
                                    </label>

                                    <input name="${o.name}" class="form-control" id="id_${o.name}">

                                </div>
                            </div>
                            `)
                        })
                    }
                })
            });

        });

    </script>

    {% for script in media.js %}
        <script src="{% static script %}"></script>
    {% endfor %}
{% endblock %}