<input type="hidden" id="{{ widget.attrs.id }}" name="{{ widget.name }}">

<table class="table" id="{{ widget.name }}-table">
    <thead>
    <tr>
        <th></th>
        <th>Descripción</th>
        <th>Suma asegurada</th>
    </tr>
    </thead>
    <tbody>
    {% if widget.value %}
        {% for cobertura in widget.value.sub_ramo.coberturas.all %}
            <tr>
                <td>
                    <input type="checkbox" name="cobertura-select">
                </td>
                <td>
                    {{ cobertura.name }}
                    <input type="hidden" name="cobertura" value="{{ cobertura.id }}">
                </td>
                <td>
                    <input type="number" class="form-control" value="0.0" style="max-width: 150px">
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>