<table class="table" id="{{ widget.name }}-table">
    <thead>
    <tr>
        <th class="cobertura-check"></th>
        <th class="cobertura-description">Descripción</th>
        <th class="cobertura-amount">Suma asegurada</th>
    </tr>
    </thead>
    <tbody>
    {% if widget.value %}
        {% for cobertura in widget.value.sub_ramo.coberturas.all %}
            <tr>
                <td class="cobertura-check">
                    <input type="checkbox"
                            {% for c in widget.value.coberturas %}
                                {% ifequal cobertura c.cobertura %} checked="checked" {% endifequal %}
                            {% endfor %}>
                </td>
                <td class="cobertura-description">
                    <input type="hidden" name="cobertura" value="{{ cobertura.id }}">
                    {{ cobertura.name }}
                </td>
                <td class="cobertura-amount">
                    <input type="number" class="form-control" style="max-width: 150px" name="monto"
                            {% for c in widget.value.coberturas %}
                                {% ifequal cobertura c.cobertura %}
                           value="{{ c.monto }}"
                                {% endifequal %}
                            {% endfor %}>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>