{% load humanize %}
<table class="table" id="id_{{ widget.name }}">
    <thead>
    <tr>
        <th>Cuotas</th>
        <th>Fecha vencimiento</th>
        <th>Importe</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    {% for fila in widget.value.tabla_pagos %}
        <tr>
            <td>
                <input type="text" name="" class="form-control" readonly value="{{ fila.numero }}">
            </td>
            <td>
                <input type="text" name="" class="form-control" readonly value="{{ fila.fecha }}">
            </td>
            <td>
                <input type="text" name="" class="form-control" readonly value="{{ fila.monto|intcomma }}">
            </td>
            <td>
                <input type="text" name="" class="form-control" readonly value="{{ fila.estado }}">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>