<tr>

    <td>
        <input type="text" value="{{ ben.parentezco }}" class="form-control"
               readonly/>
    </td>
    <td colspan="2">
        <input type="text" value="{{ ben.nombre }}" class="form-control"
               readonly style="min-width: 350px"/>
    </td>
    <td>
        <input type="text" value="{{ ben.cedula }}" class="form-control"
               readonly style="min-width: 150px"/>
    </td>
    <td>
        <input type="text" value="{{ ben.fecha_nacimiento }}" class="form-control"
               readonly style="min-width: 180px"/>
    </td>
    <td>
        <input type="text" value="3.75" readonly class="form-control">
    </td>
</tr>