<table class="grp-table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Cédula</th>
        <th>Fecha de nacimiento</th>
        <th>Edad</th>
        <th>Parentesco</th>
    </tr>
    </thead>
    <tbody>
    {% for auto in widget.value.sepelios.all %}
        <tr>
            <td>{{ auto.asegurado }}</td>
            <td>{{ auto.cedula }}</td>
            <td>{{ auto.fechanacimiento }}</td>
            <td>{{ auto.edad }}</td>
            <td>{{ auto.parentesco }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>