{% extends "easy_pdf/base.html" %}

{% load static humanize %}

{% block extra_style %}
    <meta charset="UTF-8">
    <style type="text/css">
        @page {
            size: letter portrait;
            margin: 0.3cm 1.5cm 0 1.5cm;
        }

        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }

        .pull-right {
            text-align: right;
        }

        table#datos-auto {
            padding: 0;
        }

        table#datos-auto tr {
            margin: 5px 0;
        }

    </style>
{% endblock %}


{% block page_header %}
    <table style="width: 100%; margin: 0; padding: 0">
        <tr>
            <td colspan="2">
                <figure id="assa">
                    <img src="{% static 'cotizador/images/logo.condiciones.png' %}"/>
                </figure>
            </td>
            <td style="padding: 0 0 0 30px">
                <p style="margin: 0; font-size: 0.90em">Edificio Corporativo ASSA</p>
                <p style="margin: 0; font-size: 0.90em">Pista Jean Paul Genie</p>
                <p style="margin: 0; font-size: 0.90em">Costado Oeste Edificio BID</p>
                <p style="margin: 0; font-size: 0.90em">Managua, Nicaragua.</p>
            </td>
            <td style="padding: -15px 0 0 30px;">
                <p style="margin: 0; padding: 0; font-size: 0.90em">Teléfono (505) 2276-9000</p>
                <p style="margin: 0; padding: 0; font-size: 0.90em">Fax (505) 2276-9003</p>
                <p style="margin: 0; padding: 0; font-size: 0.90em">Apartado MR-67</p>
            </td>
        </tr>
        <tr style="margin-top: 0">
            <td colspan="4" style="font-size: 0.9em">RUC J0310000003831</td>
        </tr>
    </table>
{% endblock %}


{% block content %}
    <p style="width: 100%; color: red; font-weight: 900; text-align: right;
    margin: 0 180px 0 0; padding: 0; font-size: 1.3em">
        Póliza: PENDIENTE</p>
    <table style="font-weight: 900; font-size: 1.2em">
        <tr>
            <td colspan="2">
                <p style="margin: 0; padding: 0;">CONDICIONES PARTICULARES</p>
                <p style="margin: 0; padding: 0;">POLIZA NUEVA DE AUTOMOVIL</p>
                <p style="margin: 0; padding: 0;">Fecha de Emisión: {{ poliza.fecha_emision }}</p>
                <p style="margin: 0; padding: 0;">Plan: SEGURO DE AUTOMOVIL</p>
                <p style="margin: 0; padding: 0;">Moneda: DOLARES</p>
            </td>
            <td style="text-align: right;">
                Grupo Cob: EMPBR
            </td>
            <td style="text-align: right;">
                Grupo Pol: BPRO
            </td>
        </tr>
    </table>

    <table style="font-weight: 900; font-size: 1.2em">
        <tr>
            <td colspan="5" style="padding: 1px; margin: 0; border-top:0.1px solid black;
            border-bottom: 0.1px solid black; line-height: 0">Asegurado/Contratante: codigo-pendiente
                {{ poliza.nombres }} {{ poliza.apellidos }}
            </td>
        </tr>
    </table>

    <table style="font-size: 1.2em; line-height: 16px">
        <tr>
            <td colspan="2" style="padding-top: 3px;"><b>Datos:</b></td>
            <td colspan="3" style="padding-top: 3px;"><b>Vigencia de la póliza:</b> 366
                días
            </td>
        </tr>
        <tr>
            <td>Cédula o RUC:</td>
            <td>{{ poliza.cedula }}</td>
            <td>Desde:</td>
            <td style="color: blue">{{ poliza.fecha_emision }}</td>
            <td>(00:01 Horas)</td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td>{{ poliza.telefono }}</td>
            <td>Hasta:</td>
            <td style="color: blue">{{ poliza.fecha_vencimiento }}</td>
            <td>(24:00 Horas)</td>
        </tr>
        <tr>
            <td>Celular:</td>
            <td>Por reportar</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Apdo.:</td>
            <td>Por reportar</td>
            {% if not poliza.cesion_derecho %}
                <td></td>
                <td></td>
                <td></td>
            {% else %}
                <td>Acreedor/Beneficiario</td>
                <td colspan="2">{{ poliza.beneficiario.name }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ poliza.email }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black;">Dirección:</td>
            <td style="border-bottom: 1px solid black;" colspan="4">{{ poliza.domicilio }}
            </td>
        </tr>
    </table>

    <table style="font-size: 1.2em; line-height: 16px">
        <tr>
            <td colspan="4" style="padding-top: 3px"><b>Detalle del Vehículo
                asegurado</b></td>
        </tr>
        <tr>
            <td>Certificado No:</td>
            <td></td>
            <td>Uso:</td>
            <td>{{ poliza.uso }}</td>
        </tr>
        <tr>
            <td>Marca:</td>
            <td>{{ poliza.marca }}</td>
            <td>No. Motor:</td>
            <td>{{ poliza.motor }}</td>
        </tr>
        <tr>
            <td>Modelo:</td>
            <td>{{ poliza.modelo }}</td>
            <td>No. VIN:</td>
            <td>{{ poliza.chasis }}</td>
        </tr>
        <tr>
            <td>Año:</td>
            <td>{{ poliza.anno }}</td>
            <td>Capacidad:</td>
            <td></td>
        </tr>
        <tr>
            <td>Placa:</td>
            <td>{{ poliza.placa }}</td>
            <td>No. Chasis:</td>
            <td>{{ poliza.chasis }}</td>
        </tr>
        <tr>
            <td>Suma Asegurada:</td>
            <td><b>U$ {{ poliza.suma_asegurada|intcomma }}</b></td>
            <td>Color:</td>
            <td>{{ poliza.color }}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black; padding-bottom: 3px">Depreciacion Mes:</td>
            <td style="border-bottom: 1px solid black; padding-bottom: 3px">1.00%</td>
            <td style="border-bottom: 1px solid black; padding-bottom: 3px">Toneladas:</td>
            <td style="border-bottom: 1px solid black; padding-bottom: 3px">0.00</td>
        </tr>
    </table>

    <table style="margin: 0; padding: 0; line-height: 3px; ">
        <thead>
        <tr>
            <th colspan="4" style="text-align: left">Detalle de Coberturas</th>
            <th>Suma Asegurada</th>
            <th colspan="2">Deducible</th>
            <th style="text-align: right">Prima</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="background-color: rgba(243,243,245,0.84)" colspan="4">Responsabilidad Civil Del Conductor Por
                Muerte O Lesiones A Pasajeros
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)"> 5,000.00</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)"></td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">Gastos Medicos</td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">5,000.00</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)"></td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">Colisiones Mas Robo Total O Parcial A
                Consecuencia De Robo Total (1)
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)"> {{ poliza.suma_asegurada|intcomma }}</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)">20% Mínimo U$ 100.00
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">{{ poliza.valor_prima|intcomma }}</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">Rotura De Vidrios</td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)"> {{ poliza.rotura_vidrios|intcomma }}</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)"></td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">Desordenes Publicos</td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">{{ poliza.suma_asegurada|intcomma }}</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)">20% Mínimo U$ 100.00
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">Riesgos Catastroficos</td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">{{ poliza.suma_asegurada|intcomma }}</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)">20% Mínimo U$ 100.00
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">Extension Territorial</td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.01</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)">30% Mínimo U$ 100.00
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">R. Civil Obligatoria X Muerte O Lesiones
                Causadas A Una Persona
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">2,500.00</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)"></td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">55.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">R. Civil Obligatoria X Muerte O Lesiones
                Causadas A Dos O Mas Personas
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)"> 5,000.00</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)"></td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: rgba(243,243,245,0.84)">R. Civil Obligatoria X Daños Materiales
                Causados A Terceras Personas
            </td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)"> 2,500.00</td>
            <td colspan="2" style="text-align: center; background-color: rgba(243,243,245,0.84)"></td>
            <td style="text-align: right; background-color: rgba(243,243,245,0.84)">0.00</td>
        </tr>
        </tbody>
    </table>

    <table style="margin-top: 20px">
        <tr>
            <td>
                <p>Gastos de Salvamento (US$150.00).</p>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Prima</td>
                        <td></td>
                        <td>U$</td>
                        <td style="text-align: right">{{ poliza.subtotal }}</td>
                    </tr>
                    <tr>
                        <td>Derecho emisión</td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">{{ poliza.emision }}</td>
                    </tr>
                    <tr>
                        <td>I.V.A.</td>
                        <td> 15%</td>
                        <td></td>
                        <td style="text-align: right">{{ poliza.iva }}</td>
                    </tr>
                    <tr>
                        <td><b>Total a Pagar:</b></td>
                        <td></td>
                        <td>U$</td>
                        <td style="text-align: right"><b>{{ poliza.total }}</b></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table style="margin-top: 15px; border-left: 3px solid silver; padding-left: 3px;">
        <tr style="padding-top: 3px">
            <td>Frecuencia de Pago</td>
            <td>Forma de Pago</td>
            <td>Día de Pago</td>
            <td>Monto / Cuota</td>
        </tr>
        <tr>
            <td>{{ poliza.print_cuotas }} ({{ poliza.cuotas }}) {% ifequal poliza.cuotas 1 %}Pago{% else %}
                Pagos{% endifequal %}</td>
            <td>Directo En Caja</td>
            <td>{{ poliza.fecha_pago.day }} del mes correspondiente</td>
            <td>U$ {{ poliza.monto_cuota }}</td>
        </tr>
    </table>

    <p style="font-size: 0.9em; text-align: justify; margin: 3px 0">LIMITE DE RESPONSABILIDAD: La cantidad máxima a que ascenderá la
        indemnización en caso de siniestro, queda
        limitada a la suma máxima aquí asegurada, de manera
        que los pagos que tuviera que hacer la Compañía por uno o varios siniestros originados por los riesgos
        cubiertos, no excederán la suma máxima estipulada en cada cobertura.
        En toda pérdida amparada por la cobertura de esta Póliza se aplicarán los deducibles y coaseguros estipulados
        para cada riesgo contratado por el Asegurado</p>

    <p style="font-size: 0.9em; text-align: justify; margin: 3px 0">Queda entendido que el Asegurado y ASSA Compañía de Seguros, S.A.,
        han convenido en celebrar el presente Contrato
        de Seguro, conforme la Solicitud de Aseguramiento,
        Condiciones Generales de esta Póliza, Condiciones Particulares, Adenda y demás documentos que forman parte de
        esta Póliza.</p>

    <p style="font-size: 0.9em; text-align: justify; margin: 3px 0">En fe de lo cual se firman las presentes Condiciones Particulares
        en la ciudad de Managua, Nicaragua, a los 28
        días del mes de Febrero del año 2019</p>

    <div style="position: relative; width: 100%;">
        <table style="margin-top: 0">
            <tr>
                <td></td>
                <td><img src="{% static 'cotizador/images/firma.assa.png' %}" alt=""></td>
                <td><img src="{% static 'cotizador/images/sello.assa.png' %}" alt=""></td>
            </tr>
            <tr>
                <td style="font-size: 0.5em">Firma digital: 4967BE3559DA84863CE20D53</td>
                <td style="padding: 3px 25%; text-align: center;
                border-top: 0.1px solid black; font-weight: 900; font-size: 1.2em">Firma Autorizada
                </td>
                <td style="text-align: right">Original</td>
            </tr>
        </table>
    </div>
{% endblock %}
