{% extends 'cotizador/base.html' %}
{% load static humanize %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'datatables/media/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.css' %}">
    <style type="text/css">
        #content {
            grid-template: 1fr/1fr !important;
        }

        #content aside {
            display: none !important;
        }
    </style>
{% endblock %}


{% block content-section %}

    <section id="mis-seguros">
        <div class="title">
            <figure>
                <img src="{% static 'cotizador/images/inicio/misseguros.blanco.png' %}" alt="cotizar">
            </figure>
            <p>
                Mis Seguros
            </p>
        </div>

        {% ifnotequal user.profile.polizas_activas.count 0 %}

            <div class="table-container">

                <div class="table-title">
                    <h2>Seguros de vehículo</h2>
                    <img src="{% static config.LOGO_AUTOMOVIL %}">
                </div>

                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>Número de póliza</th>
                        <th>Nombre asegurado</th>
                        <th>Vehículo</th>
                        <th>Placa</th>
                        <th>Vigencia</th>
                        <th>Prima total</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for o in user.profile.polizas_activas %}
                        <tr>
                            <td class="td-poliza">{{ o.no_poliza }}</td>
                            <td>{{ o.nombre_asegurado }}</td>
                            <td>{{ o.vehiculo }}</td>
                            <td>{{ o.placa }}</td>
                            <td>{{ o.fecha_vencimiento|date:'d/m/Y' }}</td>
                            <td> $ {{ o.total|intcomma }}</td>
                            <td class="td-buttons">
                                {% if o.is_renovable %}
                                    <button class="btn btn-trust btn-trust-sm btn-renovacion"
                                            data-poliza="{{ o.id }}">Renovación
                                    </button>
                                {% endif %}
                            {%  ifequal o.tipo_cobertura 'amplia' %}
                                <a class="btn btn-trust btn-trust-sm condiciones"
                                   href="{% url 'cotizador:download' %}?file_name=CONDICIONES_DANOS_PROPIOS.pdf"
                                >Condiciones genereales</a>
                            {% else %}
                                <a class="btn btn-trust btn-trust-sm condiciones"
                                   href="{% url 'cotizador:download' %}?file_name=CONDICIONES_SOA.pdf"
                                >Condiciones genereales</a>
                            {% endifequal %}

                                <button class="btn btn-trust btn-trust-sm imprimir-auto"
                                        data-poliza="{{ o.id }}"
                                        {% ifequal o.no_poliza 'pendiente' %}
                                        data-url="{% url 'cotizador:print_orden_trabajo' %}"
                                        {% else %}
                                        data-url="{% url 'cotizador:print_documentos' %}"
                                        {% endifequal %}
                                        data-filename="{% ifnotequal o.no_poliza 'pendiente' %}Poliza auto.pdf{% else %}Orden de trabajo.pdf{% endifnotequal %}"
                                >Imprimir
                                </button>
                                <button class="btn btn-trust btn-trust-sm baja-auto"
                                        data-poliza="{{ o.id }}">Dar de Baja
                                </button>
                                {% comment %}<button class="btn btn-trust btn-trust-sm renovacion-auto"
                                        data-poliza="{{ o.id }}">Renovación
                                </button>{% endcomment %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endifnotequal %}

        <div class="table-container">

            <div class="table-title">
                <h2>Seguros de sepelio (gastos funerales)</h2>
                <img src="{% static config.LOGO_SEPELIO %}">
            </div>

            <table class="table-striped">
                <thead>
                <tr>
                    <th>Número de póliza</th>
                    <th>Nombre asegurado</th>
                    <th>Edad</th>
                    <th>Parentesco</th>
                    <th>Suma asegurada</th>
                    <th>Cobertura</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td-poliza">{{ config.POLIZA_SEPELIO }}</td>
                    <td>{{ user.profile.full_name }}</td>
                    <td>{{ user.profile.edad }}</td>
                    <td>Titular</td>
                    <td> $ {{ config.SUMA_SEPELIO|intcomma }}</td>
                    <td>Muerte por cualquier causa</td>
                    <td class="td-buttons">
                        {% if orden.id %}
                            <button class="btn btn-trust btn-trust-sm cambiar-beneficiario-sepelio"
                                    data-orden="{{ o.orden.id }}" data-beneficiario="{{ o.id }}">
                                Cambiar beneficiario
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% for o in user.profile.dependientes_sepelio %}
                    <tr>
                        <td class="td-poliza">{{ o.numero_poliza }}</td>
                        <td>{{ o.full_name }}</td>
                        <td>{{ o.edad }}</td>
                        <td>{{ o.parentesco }}</td>
                        <td> $ {{ o.suma_asegurada|intcomma }}</td>
                        <td>Muerte por cualquier causa</td>
                        <td class="td-buttons">
                            {% if o.orden %}
                                <button class="btn btn-trust btn-trust-sm imprimir-sepelio"
                                        data-orden="{{ o.orden.id }}" data-beneficiario="{{ o.id }}">
                                    Imprimir
                                </button>
                            {% endif %}

                            <button class="btn btn-trust btn-trust-sm baja"
                                    data-beneficiario="{{ o.id }}" data-type="CF">
                                Dar de baja
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-container">

            <div class="table-title">
                <h2>Seguros de accidente</h2>
                <img src="{% static config.LOGO_ACCIDENTE %}">
            </div>

            <table class="table-striped">
                <thead>
                <tr>
                    <th>Número de póliza</th>
                    <th>Nombre asegurado</th>
                    <th>Edad</th>
                    <th>Parentesco</th>
                    <th>Suma asegurada</th>
                    <th>Cobertura</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="td-poliza">{{ config.POLIZA_ACCIDENTE }}</td>
                    <td>{{ user.profile.full_name }}</td>
                    <td>{{ user.profile.edad }}</td>
                    <td>Titular</td>
                    <td> $ {{ config.SUMA_ACCIDENTE|intcomma }}</td>
                    <td>Reembolso de gastos por accidentes</td>
                    <td></td>
                </tr>

                {% for o in user.profile.dependientes_accidente %}
                    <tr>
                        <td class="td-poliza">{{ o.numero_poliza }}</td>
                        <td>{{ o.full_name }}</td>
                        <td>{{ o.edad }}</td>
                        <td>{{ o.parentesco }}</td>
                        <td> $ {{ o.suma_asegurada|intcomma }}</td>
                        <td>Reembolso de gastos por accidentes</td>
                        <td class="td-buttons">
                            {% if orden.id %}
                                <button class="btn btn-trust btn-trust-sm imprimir-accidente"
                                        data-orden="{{ o.orden.id }}" data-beneficiario="{{ o.id }}">
                                    Imprimir
                                </button>
                            {% endif %}

                            <button class="btn btn-trust btn-trust-sm baja"
                                    data-beneficiario="{{ o.id }}" data-type="AP">
                                Dar de baja
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-container">

            <div class="table-title">
                <h2>Seguros de vida</h2>
                <img src="{% static config.LOGO_VIDA %}">
            </div>

            <table class="table-striped">
                <thead>
                <tr>
                    <th>Número de póliza</th>
                    <th>Nombre asegurado</th>
                    <th>Suma asegurada</th>
                    <th>Cobertura</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="td-poliza">{{ config.POLIZA_VIDA }}</td>
                    <td>{{ user.profile.full_name }}</td>
                    <td>{{ config.SUMA_VIDA }}</td>
                    <td>Muerte por cualquier causa</td>
                    <td class="td-buttons">
                        <button class="btn btn-trust btn-trust-sm cambiar-beneficiario">
                            Cambiar beneficiario
                        </button>
                        <button class="btn btn-trust btn-trust-sm imprimir-vida">
                            Mas información
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </section>

{% endblock %}


{% block modales %}

    <div class="modal fade" id="modal-baja" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <form id="form-baja" method="post" action="{% url 'cotizador:solicitar_baja' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h2 class="modal-title">Solicitud de baja</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <fieldset>

                            <input type="hidden" id="beneficiario-baja">
                            <input type="hidden" id="beneficiario-tipo">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="primer_nombre">Primer nombre</label>
                                        <input type="text" class="form-control" name="primer_nombre"
                                               id="primer_nombre" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="segundo_nombre">Segundo nombre</label>
                                        <input type="text" class="form-control" name="segundo_nombre"
                                               id="segundo_nombre" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="apellido_materno">Segundo apellido</label>
                                        <input type="text" class="form-control" name="apellido_materno"
                                               id="apellido_materno" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="apellido_paterno">Primer apellido</label>
                                        <input type="text" class="form-control" name="apellido_paterno"
                                               id="apellido_paterno" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="parentesco">Parentesco</label>
                                        <input type="text" class="form-control" name="parentesco"
                                               id="parentesco" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                        <input type="text" class="form-control" name="fecha_nacimiento"
                                               id="fecha_nacimiento" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <input class="btn btn-primary float-right" type="submit" value="Enviar">
                    </div>

                    <div class="modal-footer"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-baja-auto" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <form id="form-baja-auto" method="post" action="{% url 'cotizador:solicitar_baja' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h2 class="modal-title">Solicitud de baja</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <fieldset>

                            <input type="hidden" id="poliza">

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="marca">Marca</label>
                                        <input type="text" class="form-control" name="marca"
                                               id="marca" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="modelo">Modelo</label>
                                        <input type="text" class="form-control" name="modelo"
                                               id="modelo" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="anno">Año</label>
                                        <input type="text" class="form-control" name="anno"
                                               id="anno" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="chasis">No. chasis</label>
                                        <input type="text" class="form-control" name="chasis"
                                               id="chasis" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="motor">No. motor</label>
                                        <input type="text" class="form-control" name="motor"
                                               id="motor" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="placa">No. placa</label>
                                        <input type="text" class="form-control" name="placa"
                                               id="placa" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <input class="btn btn-primary float-right" type="submit" value="Enviar">
                    </div>

                    <div class="modal-footer"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-renovacion" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <form id="form-renovacion" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h2 class="modal-title">Solicitud de renovación</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <fieldset>
                            <input type="hidden" id="poliza-renovacion">

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="marca">Marca</label>
                                        <input type="text" class="form-control" name="marca"
                                               id="marca-renovacion" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="modelo">Modelo</label>
                                        <input type="text" class="form-control" name="modelo"
                                               id="modelo-renovacion" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="anno">Año</label>
                                        <input type="text" class="form-control" name="anno"
                                               id="anno-renovacion" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="chasis">No. chasis</label>
                                        <input type="text" class="form-control" name="chasis"
                                               id="chasis-renovacion" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="motor">No. motor</label>
                                        <input type="text" class="form-control" name="motor"
                                               id="motor-renovacion" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="placa">No. placa</label>
                                        <input type="text" class="form-control" name="placa"
                                               id="placa-renovacion" readonly>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <input class="btn btn-primary float-right" type="submit" value="Enviar">
                    </div>

                    <div class="modal-footer"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'sweetalert2/dist/sweetalert2.js' %}"></script>
    <script src="{% static 'ajax/token.js' %}"></script>
    <script src="{% url 'cotizador:javascript' 'misseguros.js' %}"></script>
{% endblock %}
