{% extends "trustseguros/lte/pdf/base.html" %}

{% load static humanize %}

{% block page_title %}
    Estado de Cuenta
{% endblock %}

{% block extra_style %}
    <style type="text/css">

        @page {
            size: letter landscape;
            margin-left: 1cm;
            margin-right: 1cm;

            @frame header {
            -pdf-frame-content: page-header;
            margin-top: 1.0cm;
            margin-left: 0.5cm;
            margin-right: 0.5cm;
            margin-bottom: 0.5cm;
            height: 3cm;
        }

        @frame content {
        top: 0.5cm;
        margin-top: 3.5cm;
        margin-bottom: 0.5cm;
        margin-left: .5cm;
        margin-right: .5cm;
        }

        @frame footer {
        -pdf-frame-content:page-footer;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1.5cm;
        height: 3cm;
        }
        }
    </style>
{% endblock %}

{% block page_header %}
    <p>Cabecera</p>
{% endblock %}

{% block page_content %}
    <p>primera pagina</p>


    <p>Otras paginas</p>
    {% for page in obj.pages %}
        <div style="margin-top: 5mm">
            <font size="3" face="Courier New">

                <table id="documentos">
                    <thead>
                    <tr>
                        <th rowspan="2" style="text-align: left">Documento</th>
                        <th rowspan="2">Fecha Límite</th>
                        <th colspan="2">Monto</th>
                        <th rowspan="2" colspan="2">Mora</th>
                        <th rowspan="2" style="text-align: right; padding-right: 1mm">Total</th>
                        <th rowspan="2" style="text-align: right; padding-right: 1mm">Estado</th>
                    </tr>
                    <tr>
                        <th>IMI</th>
                        <th>TASA</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in page.registros %}
                        <tr>

                            <td style="width: 90mm">{{ p.documento }}</td>
                            <td style="text-align: center; width: 40mm;">{{ p.fecha_vence|date:'d/m/Y' }}</td>
                            {% if p.monto_compuesto %}
                                <td style="width: 50mm; text-align: right; margin-right: 3mm">{{ p.imi|intcomma }}</td>
                                <td style="width: 40mm; text-align: right; margin-right: 3mm">{{ p.recoleccion|intcomma }}</td>
                            {% else %}
                                <td colspan="2"
                                    style="width: 20mm; text-align: right; margin-right: 3mm">{{ p.subtotal|intcomma }}</td>
                            {% endif %}
                            <td style="text-align: right; width: 20mm">{{ p.mora_porcentaje }}%</td>
                            <td style="text-align: right; width: 40mm; padding-right: 1mm">{{ p.mora|intcomma }}</td>
                            <td style="text-align: right; width: 60mm; padding-right: 1mm">{{ p.monto|intcomma }}</td>
                            <td style="text-align: right; width: 40mm;">{{ p.estado }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </font>
        </div>

        <pdf:nextpage/>
    {% endfor %}

{% endblock %}

{% block page_foot %}
    <p>footer</p>
{% endblock %}



