{% extends "trustseguros/lte/pdf/base.html" %}

{% load static humanize %}

{% block page_title %}
    Estado de Cuenta
{% endblock %}

{% block extra_style %}
    <style type="text/css">

        @page {
            size: letter portrait;
            margin-left: 1cm;
            margin-right: 1cm;

            @frame header {
            -pdf-frame-content: page-header;
            margin-top: 1.0cm;
            margin-left: 0.5cm;
            margin-right: 0.5cm;
            margin-bottom: 0.5cm;
            height: 3cm;
        }

        @frame content {
        top: 0.5cm;
        margin-top: 3.5cm;
        margin-bottom: 0.5cm;
        margin-left: .5cm;
        margin-right: .5cm;
        }

        @frame footer {
        -pdf-frame-content:page-footer;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1.5cm;
        height: 3cm;
        }
        }
    </style>
    <style type="text/css">
        #documentos{
            border-collapse: collapse;
        }

        #documentos td, #documentos th {
            padding-top: 5px;
            padding-left: 5px;
            padding-rigth: 5px;
        }
        .border-1{
            border: 1px solid black;
        }
        .border-01{
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        .border-011{
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        #documentos td.right {
            text-align: right;
            padding-right: 10px;
        }

        #documentos td.left {
            text-align: left;
            padding-right: 10px;
        }

        #documentos td.center {
            text-align: center;
            padding-right: 10px;
        }
    </style>
{% endblock %}

{% block page_header %}
    <table>
        <tr>
            <td class="pull-right">
                <figure>
                    <img src="{% static 'trustseguros/img/logo.trust.oportunidad.jpeg' %}" height="100">
                </figure>
            </td>
            <td>
                <h1 style="font-size: 25px">Estado de cuenta</h1>
            </td>
            <td>
                <p style="padding: 0; margin: 0;">Edificio Coworking Office Center.</p>
                <p style="padding: 0; margin: 0;">Del busto José Martí 1c E, 1c N.</p>
                <p style="padding: 0; margin: 0;">Managua, Nicaragua</p>
                <p style="padding: 0; margin: 0;">Teléfono (505) 2251 0108</p>
            </td>
        </tr>
    </table>
{% endblock %}

{% block page_content %}
    <table>
        <tr>
            <td>Cliente</td>
            <td colspan="3">{{ poliza.cliente }}</td>
            <td>Póliza</td>
            <td>{{ poliza.no_poliza }}</td>
        </tr>
        <tr>
            <td>Contratante</td>
            <td colspan="5">{{ poliza.contratante }}</td>
        </tr>
        <tr>
            <td>Ramo</td>
            <td>{{ poliza.ramo }}</td>
            <td>Sub ramo</td>
            <td>{{ poliza.sub_ramo }}</td>
            <td>Prima total</td>
            <td>{{ poliza.moneda.simbolo }} {{ poliza.prima_total|intcomma }}</td>
        </tr>
        <tr>
            <td>Fecha inicio</td>
            <td>{{ poliza.fecha_emision }}</td>
            <td>Fecha vencimiento</td>
            <td>{{ poliza.fecha_vence }}</td>
            <td>Total pagado</td>
            <td>{{ poliza.moneda.simbolo }} {{ poliza.total_pagado|intcomma }}</td>
        </tr>
        <tr>
            <td>Forma de pago</td>
            <td>{{ poliza.get_f_pago_display }}</td>
            <td>Medio de pago</td>
            <td>{{ poliza.get_m_pago_display }}</td>
            <td>Saldo Pendiente</td>
            <td>{{ poliza.moneda.simbolo }} {{ poliza.saldo_pendiente|intcomma }}</td>
        </tr>
    </table>


    {% for page in pages %}
        <div style="margin-top: 5mm">
            <font size="3" face="Courier New">

                <table id="documentos">
                    <thead>
                    <tr>
                        <th class="center border-1" rowspan="2">Fecha</th>
                        <th class="left border-1" rowspan="2">Descripción</th>
                        <th class="right border-1" rowspan="2">Monto</th>
                        <th class="center border-1" colspan="2">Pagos</th>
                        <th class="right border-1" rowspan="2">Saldo</th>
                        <th class="center border-1" rowspan="2">Estado</th>
                    </tr>
                    <tr>
                        <th class="right border-1">Fecha de pago</th>
                        <th class="right border-1">Monto pagado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in page.registros %}
                        <tr>
                            {% for cell in row %}
                                {% if cell.render %}
                                    <td colspan="{{ cell.colspan }}" rowspan="{{ cell.rowspan }}" class="{{ cell.cssclass }}">{{ cell.value }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </font>
        </div>

        <pdf:nextpage/>
    {% endfor %}

{% endblock %}

{% block page_foot %}
    <p>footer</p>
{% endblock %}



