{% extends "easy_pdf/base.html" %}

{% load static humanize sub_ramo %}

{% block extra_style %}

    <meta charset="UTF-8">
    <style type="text/css">
        @page {
            size: letter portrait;
            margin: 1.5cm;
        }

        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
            font-size: 10pt;
        }
    </style>
{% endblock %}


{% block page_header %}
    <table>
        <tr>

            <td class="pull-right">
                <figure>
                    <img src="{% static 'trustseguros/img/trust-logo-300px.png' %}" height="100">
                </figure>
            </td>
            <td>

            </td>
            <td>
                <p style="padding: 0; margin: 0;">Edificio Coworking Office Center.</p>
                <p style="padding: 0; margin: 0;">Del busto José Martí 1c E, 1c N.</p>
                <p style="padding: 0; margin: 0;">Managua, Nicaragua</p>
                <p style="padding: 0; margin: 0;">Teléfono (505) 2251 0108</p>
            </td>
        </tr>
    </table>
{% endblock %}


{% block content %}
    <p style="float: right; text-align: right; font-weight: 900">Managua, Nicaragua</p>
    <p style="float: right; text-align: right; font-weight: 900">{{ today|date:'d/m/Y' }}</p>

    <p><b>Referencia:</b> Oferta de seguro para vehículo</p>

    <p style="font-size: 10pt"><b>Sr(a). {% if oportunity.prospect %}{{ oportunity.prospect.full_name }}{% endif %}</b>
    </p>

    <p style="text-align: justify">Es muy grato para nosotros poder remitirle el programa de seguro de renovación y a su
        vez agradecerle la confianza para atenderle en todo lo concerniente a la misma.</p>

    <table>
        <thead>
        <tr>
            <th colspan="4" style="background-color: darkgreen;
            vertical-align: middle;
            color: white;
            padding: 4px 0 2px 0;">Datos del vehículo
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Marca</b></td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oportunity.data_load.MARCA }}</td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Chasis</b></td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oportunity.data_load.CHASIS }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Modelo</b></td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oportunity.data_load.MODELO }}</td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Motor</b></td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oportunity.data_load.MOTOR }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Año</b></td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oportunity.data_load.ANIO }}</td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Placa</b></td>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oportunity.data_load.PLACA }}</td>
        </tr>

        </tbody>
    </table>

    <p style="margin-bottom:0">El detalle de coberturas, límites de responsabilidad, deducibles, coaseguros y primas son
        los siguientes:</p>

    <table style="margin-top: 2mm">
        <thead>
        <tr>
            <th colspan="{{ oportunity.ofertas_columns }}" style="background-color: darkgreen;
            vertical-align: middle;
            color: white;
            padding: 4px 0 2px 0;">Comparativo de sumas aseguradas, coaseguros y primas
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Compañia</b></td>
            {% for oferta in oportunity.ofertas.all %}
                <td style="border: 1px solid darkgreen; padding: 0; text-align: center">
                    <img src="{{ oferta.aseguradora.logo.url }}" width="85">
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Suma asegurada</b>
            </td>
            {% for oferta in oportunity.ofertas.all %}
                <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">
                    U$ {{ oferta.suma_asegurada|intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Deducible</b></td>
            {% for oferta in oportunity.ofertas.all %}
                <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">
                    U$ {{ oferta.deducible|intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Coaseguro robo</b>
            </td>
            {% for oferta in oportunity.ofertas.all %}
                <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oferta.coaseguro_robo }}
                    %
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Coaseguro daños</b></td>
            {% for oferta in oportunity.ofertas.all %}
                <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ oferta.coaseguro_dano }}
                    %
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Prima total</b></td>
            {% for oferta in oportunity.ofertas.all %}
                <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">
                    U$ {{ oferta.total|intcomma }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <p style="text-align: justify;">La forma de pago de la póliza puede ser en cuotas debitadas a una tarjeta de crédito
        o débito, o pagada de contado.</p>

    <p style="text-align: justify">Agradeciendo su atención, quedamos atentos a sus comentarios.</p>


    <div style="page-break-after: always"></div>

    <p><b>Anexo</b></p>
    <p>Cuadro comparativo por compañia</p>

    {% if oportunity.rc_exceso %}
        <p><b>Cotización con Exceso por U$ {{ oportunity.valor_exceso|intcomma }}</b></p>
    {% endif %}
    <table style="margin-bottom: 3mm">
        <thead>
        <tr>
            <td colspan="{{ oportunity.ofertas_columns }}" style="background-color: darkgreen;
            vertical-align: middle;
            color: white;
            padding: 4px 0 2px 0;
            text-align: center;">COBERTURAS/COMPAÑIAS
            </td>
        </tr>
        </thead>
        <tbody>

        <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center"><b>Compañia</b></td>
        {% for oferta in oportunity.ofertas.all %}
            <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">
                {{ oferta.aseguradora.name }}
            </td>
        {% endfor %}

        {% for cobertura in oportunity.sub_ramo.coberturas_en_cotizacion %}
            <tr>
                <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center; width: 80mm">{{ cobertura }}</td>
                {% for oferta in oportunity.ofertas.all %}
                    <td style="border: 1px solid darkgreen; padding: 4px 0 0 0; text-align: center">{{ cobertura|valor_cobertura:oferta.aseguradora }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="page-break-after: always"></div>


    <p><b>Compañía de Seguros Para Elegir:</b></p>

    <table>
        <tr>
            {% for oferta in oportunity.ofertas.all %}
                <td style="text-align: center; vertical-align: middle;">
                    <span>{{ oferta.aseguradora.name }}</span>
                    <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
                </td>
            {% endfor %}
        </tr>
    </table>


    <p><b>Modo de pago:</b></p>

    <table>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <span>En caja:</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <span>Transferencia:</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <span>Débito:</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
        </tr>
    </table>


    <p><b>Facilidad de pago:</b></p>

    <table>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <span>Contado:</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <span>Cuotas:</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <span>Número de cuotas:</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
        </tr>
    </table>


    <p><b>Confirmo a Trust Correduría de Seguros proceder con la renovación de mi póliza y/o adendas que se
        realicen:</b></p>

    <table>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <span>SI</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <span>NO</span>
                <img src="{% static 'trustseguros/img/cuadro.png' %}" alt="" height="50" width="50"/>
            </td>
        </tr>
    </table>

    <p style="margin-top: 10mm">Sin más a que referirnos, le saludamos y agradecemos siempre por considerar a Trust Correduría de
        Seguros como su asesor de los recursos económicos a ser reembolsados por accidentes que se
        efectúen en su unidad automotriz y/o rembolsos por gastos médicos y daños a terceros.
    </p>

    <p>Agradeciendo su atención, quedamos atentos a sus comentarios.</p>


    <br>
    <p>Atentamente</p>
    <p style="margin: 0mm">
        <b>
            <span style="color: rgb(47, 85, 151);">{{ oportunity.vendedor.get_full_name }}&nbsp;</span>
        </b>
        <br>
        <b>
            <span style="color: rgb(47, 85, 151);">Trust Correduría de Seguros SA</span>
        </b>
        <br>
        <b>
            <span style="color: rgb(56, 87, 35);">Teléfono: +505 2251-0108</span>
        </b>
        <br>
        <b>
            <span style="color: rgb(56, 87, 35);">Celular: {{ oportunity.vendedor.profile.celular }}</span>
        </b>
        <br>
        <b>
                <span style="color: rgb(56, 87, 35);">
                    <a
                            href="mailto:{{ oportunity.vendedor.email }}"
                            target="_blank">{{ oportunity.vendedor.email }}</a>
                </span>
        </b>
        <br>
        <b>
                <span style="color: rgb(56, 87, 35);"><a href="http://www.trustcorreduria.com/"
                                                         target="_blank">www.trustcorreduria.com</a></span>
        </b>
    </p>
{% endblock %}
