{% load crispy_forms_filters %}

<form action="." method="post" novalidate id="recomendado-form">
    {% csrf_token %}
    <input type="hidden" name="save" value="true">
    <div class="container">
        <fieldset>
            <div class="row">
                <div class="col">{{ form.primer_nombre|as_crispy_field }}</div>
                <div class="col">{{ form.segundo_nombre|as_crispy_field }}</div>
                <div class="col">{{ form.email_personal|as_crispy_field }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form.apellido_paterno|as_crispy_field }}</div>
                <div class="col">{{ form.apellido_materno|as_crispy_field }}</div>
                <div class="col">{{ form.celular|as_crispy_field }}</div>
            </div>
        </fieldset>
        <div class="row">
            <button type="submit" class="btn btn-trust float-right">Guardar</button>
        </div>
    </div>
</form>