<table class="table">
    <thead>
    <tr>
        <th colspan="3">
            <textarea class="form-control" id="{{ widget.name }}-comentario-input" style="min-width: 300px"></textarea>
        </th>
        <th>
            <select id="{{ widget.name }}-comentario-tag" class="form-control">
                <option value="">Seleccione una etiqueta</option>
                {% for tag in widget.attrs.tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </th>
        <th>
            <div style="display: flex; align-items: center">
                <input type="text" class="dateinput form-control" placeholder="fecha de alerta"
                       id="{{ widget.name }}-comentario-alert">
                <button type="button" class="btn btn-trust" id="{{ widget.name }}btn-add-comment"
                        style="margin-top: 0; margin-bottom: 0">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </th>
    </tr>
    <tr>
        <th>Comentario</th>
        <th>Seguimiento</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Alerta</th>
    </tr>
    </thead>
    <tbody id="{{ widget.name }}-table">
    {% for comment in widget.value.bitacora %}
        <tr>
            <td>{{ comment.comentario }}</td>
            <td>{{ comment.tag.name }}</td>
            <td>{{ comment.created_user.username }}</td>
            <td>{{ comment.created }}</td>
            <td>{% if comment.alert_date %}{{ comment.alert_date }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>