{% load poliza %}


<table class="table-template" id="{{ widget.name }}-template" style="display: none">
    <tr>
        {% for field in widget.value.sub_ramo.datos_tecnicos.all %}
            <td>
                <input type="text" class="form-control {{ widget.name }}-input" value=""
                       name="{{ widget.name }}-{{ field.name }}">
            </td>
        {% endfor %}
        <td style="text-align: center">
            <input type="hidden" name="{{ widget.name }}_id" class="{{ widget.name }}-id">
            <input type="hidden" name="{{ widget.name }}" class="{{ widget.name }}-value">
            {% if widget.value.editable %}
                <button type="button" class="btn btn-danger btn-table-delete" data-id="" data-model="datopoliza"
                        data-app="cotizador">
                    <i class="fa fa-trash"></i>
                </button>
            {% endif %}
        </td>
    </tr>
</table>


<table class="table">
    <thead>
    <tr>
        {% for field in widget.value.sub_ramo.datos_tecnicos.all %}
            <th>{{ field.label }}</th>
        {% endfor %}
        <th style="width: 120px; text-align: center">
            {% if widget.value.editable %}
                <input type="file" id="{{ widget.name }}-import-file" style="display:none;"/>
                <button type="button" class="btn btn-info" title="Importar desde excell"
                        id="{{ widget.name }}-import-button">
                    <i class="fa fa-upload"></i>
                </button>
                <button type="button" class="btn btn-info btn-table-add"
                        title="Agregar nuevo registro"
                        data-target="{{ widget.name }}-table" data-template="{{ widget.name }}-template">
                    <i class="fa fa-plus"></i>
                </button>
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody id="{{ widget.name }}-table">
    {% for row in widget.value.datos_tecnicos.all %}
        <tr>

            {% for field in widget.value.sub_ramo.datos_tecnicos.all %}
                <td>
                    <input type="text" class="form-control {{ widget.name }}-input"
                           value="{{ row|dato_tecnico:field }}"
                           name="{{ widget.name }}-{{ field.name }}"
                           {% if not widget.value.editable %}readonly{% endif %}>
                </td>
            {% endfor %}

            <td style="text-align: center">
                <input type="hidden" name="{{ widget.name }}_id" value="{{ row.id }}"
                       class="{{ widget.name }}-id">
                <input type="hidden" name="{{ widget.name }}" value="{{ row.extra_data }}"
                       class="{{ widget.name }}-value">
                {% if widget.value.editable %}
                    <button type="button" class="btn btn-danger btn-table-delete" data-id="{{ row.id }}"
                            data-model="datopoliza" data-app="backend">
                        <i class="fa fa-trash"></i>
                    </button>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript">

    (function ($) {
        $(document).ready(function () {

            $(document).on('change', '.{{ widget.name }}-input', function () {
                let obj = {};
                const $tr = $(this).parents('tr');
                const $trvalue = $($tr).find('.{{ widget.name }}-value');
                $.each($($tr).find('.{{ widget.name }}-input'), function (i, o) {
                    obj[$(o).attr('name').replace('{{ widget.name }}-', '')] = $(o).val()
                });
                $($trvalue).val(JSON.stringify(obj));
            });

        })
    })(jQuery)

</script>

