{% load datatables %}
<tr>
    <td style="display: flex; align-items: center">
        <a href="{{ file.instance.archivo.url }}" target="_blank" style="margin-right: 10px"><i
                class="fa fa-eye"></i></a>
        {{ file.tipo_doc|as_inline_field }}  </td>
    <td>{{ file.instance.created_user }}</td>
    <td>{{ file.instance.updated }}</td>
    <td>
        <input type="text" class="form-control dateinput" name="fecha_caducidad"
                {% if file.instance.fecha_caducidad %}
               value="{{ file.instance.fecha_caducidad|date:'d/m/Y' }}" {% endif %}
               data-id="{{ file.instance.id }}">
    </td>
    <td style="text-align: center;">
        <button type="button" class="btn btn-danger btn-table-delete" data-id="{{ file.instance.id|stringformat:'i' }}"
                data-app="backend" data-model="archivo">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>