{% load crispy_forms_filters %}

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Origen</th>
        <th>Destino</th>
    </tr>
    </thead>
    <tbody>
    {% for field in widget.value %}
        <tr>
            <td>
                <input type="hidden" name="fieldmap" value="{{ field.instance.id }}"/>
                {{ field.origin_field|as_crispy_field }}
            </td>
            <td>{{ field.destiny_field|as_crispy_field }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>