{% load datatables %}

{% with widget.value.sub_ramo as sub_ramo %}


    <input type="hidden" id="id_{{ widget.name }}" name="{{ widget.name }}"
           value="{{ widget.value.extra_data }}">

    <div class="container {{ widget.name }}_fieldset">
        {% for field in sub_ramo.campos_adicionales %}

            <div class="col">
                <div id="div_{{ field.name }}" class="form-group">

                    <label for="id_{{ field.name }}" class="col-form-label">
                        {{ field.label }}
                    </label>

                    <input name="{{ field.name }}" class="form-control" id="id_{{ field.name }}"
                    value="{{ widget.value.data_load|datatables_field:field.name }}">

                </div>
            </div>

        {% endfor %}
    </div>

{% endwith %}

<script type="text/javascript">

    (function ($) {
        $(document).ready(function () {

            const $fieldset = $('.{{ widget.name }}_fieldset');

            const $input = $('#id_{{ widget.name }}');
            $($fieldset).on('change', 'input', function () {
                obj = {};
                $.each($($fieldset).find('input'), function (i, o) {
                    obj[$(o).attr('name')] = $(o).val()
                });
                $($input).val(JSON.stringify(obj));
            });
        })
    })(jQuery)

</script>
