{% load humanize %}

<input type="hidden" name="total_pagos" id="id_total_pagos" {% if widget.value %}
       value="{{ widget.value.total_pagos }}" {% endif %}>

<table class="table" id="id_{{ widget.name }}">
    <thead>
    <tr>
        <th>Monto</th>
        <th>Referencia</th>
        <th>Medio de pago</th>
        <th>Fecha de pago</th>
        <th>
            <button type="button" class="btn btn-info btn-add-cuota"
            ><i class="fa fa-plus"></i></button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for fila in widget.value.pagos %}
        <tr>
            <td>
                <input type="hidden" name="{{ widget.name }}_id" value="{{ fila.id }}">
                <input type="text" name="{{ widget.name }}_numero" class="form-control" readonly
                       value="{{ fila.monto }}">
            </td>
            <td>
                <input type="text" name="{{ widget.name }}_fecha_vence" class="form-control dateinput" readonly
                       value="{{ fila.referencia_pago|date:'d/m/Y' }}">
            </td>
            <td>
                <input type="text" name="{{ widget.name }}_monto" class="form-control"
                        {% if widget.attrs.readonly %} readonly {% endif %}
                       value="{{ fila.medio_pago }}">
            </td>
            <td>
                <input type="text" name="{{ widget.name }}_monto_comision" class="form-control"
                        {% if widget.attrs.readonly %} readonly {% endif %}
                       value="{{ fila.fecha_pago }}">
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-del-cuota"
                        data-cuota="{{ fila.id }}"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>