{% load humanize %}

<table class="table" id="id_{{ widget.name }}">
    <thead>
    <tr>
        <th>Monto</th>
        <th>Referencia</th>
        <th>Medio de pago</th>
        <th>Fecha de pago</th>
        <th>
            <button type="button" class="btn btn-info btn-add-cuota"
            ><i class="fa fa-plus"></i></button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for fila in widget.value %}
        {% include 'trustseguros/lte/includes/nuveo-pago.html' with form=fila %}
    {% endfor %}
    </tbody>
</table>