{% with widget.value as instance %}
    <input type="hidden" name="recibo_editar" id="id_recibo_editar"
           {% if instance.recibo_modificar %}value="{{ instance.recibo_modificar.id }}"
           {% else %}value=""{% endif %}>
    <select name="{{ widget.name }}" id="{{ widget.attrs.id }}" class="form-control">
        {% if instance.recibo_editar %}
            <option value="">{{ instance.no_recibo }}</option>
            {% for recibo in instance.recibos %}
                <option value="{{ recibo.id }}"
                        {% ifequal recibo.id instance.recibo_editar.id %}selected{% endifequal %}>{{ recibo.no_recibo }}</option>
            {% endfor %}
        {% else %}
            <option value="" selected>{{ instance.no_recibo }}</option>
            {% for recibo in instance.recibos %}
                <option value="{{ recibo.id }}">{{ recibo.no_recibo }}</option>
            {% endfor %}
        {% endif %}
    </select>
{% endwith %}