{% load datatables crispy_forms_filters %}

<div class="row">
    <div class="col">
        {{ widget.value|datatables_field:'tipo_identificacion'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'cedula'|as_crispy_field }}

        <button type="button" class="{{ widget.name }}-button-clear"
                style="
                        {% if not widget.value.instance %}
                            display: none;
                        {% endif %}
                        color: red;
                        background-color: pink;
                        position: absolute;
                        right: 15px;
                        top: 41px;">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>


<div class="row">
    <div class="col">
        {{ widget.value|datatables_field:'primer_nombre'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'segundo_nombre'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'apellido_paterno'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'apellido_materno'|as_crispy_field }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ widget.value|datatables_field:'departamento'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'municipio'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'telefono'|as_crispy_field }}
    </div>
    <div class="col">
        {{ widget.value|datatables_field:'celular'|as_crispy_field }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ widget.value|datatables_field:'domicilio'|as_crispy_field }}
    </div>
</div>
