{% with widget.value as cotizacion %}
    <table class="grp-table" id="id_{{ widget.name }}">

        <thead>
        <tr>
            <th>Cobertura</th>
            <th>Suma Contratada</th>
            {% for a in cotizacion.aseguradora.all %}
                <th colspan="2">{{ a.name }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2"></th>
            {% for a in cotizacion.aseguradora.all %}
                <th>Tarifa</th>
                <th>Valor</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>

        {% for costo in cotizacion.costos_cotizacion %}

            <tr>
                <td>
                    <input type="hidden" name="costo" value="{{ costo.id }}"/>
                    {{ costo.cobertura.name }}
                </td>
                <td>
                    {% ifequal costo.tipo_exceso 'otro' %}
                    <input type="text" step="any" value="{{ costo.suma_asegurada }}" class="exceso"
                           name="suma_asegurada{{ costo.id }}">
                    {% endifequal %}
                    <input type="hidden" step="any" value="{{ costo.suma_asegurada }}" class="exceso"
                           name="suma_asegurada">
                </td>

                {% for oferta in costo.ofertas.all %}
                    {% for aseguradora in cotizacion.aseguradora.all %}
                        {% ifequal aseguradora oferta.aseguradora %}
                            {% if oferta.available %}
                                <td><input type="text" step="any" readonly value="{{ oferta.tasa }}"></td>
                                <td>


                                    <input type="text" step="any" readonly value="{{ oferta.quota_seguro }}"
                                           class="cotizar"
                                           data-tipo-calculo="{{ costo.tipo_calculo }}"
                                           data-tipo-exceso="{{ costo.tipo_exceso }}"
                                           data-tasa="{{ oferta.tasa }}" name="{{ oferta.id }}"
                                    />

                                </td>
                            {% else %}
                                <td colspan="2" style="text-align: center">NO DISPONIBLE</td>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endwith %}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {

            var tipocalculo = function (tipo_calculo) {
                this.tipo_calculo = tipo_calculo;

                function porcentual(monto, tasa) {
                    return (parseFloat(monto) * parseFloat(tasa)) / 100;
                }

                function pormillar(monto, tasa) {
                    return (parseFloat(monto) * parseFloat(tasa)) / 1000;
                }

                function fijo(monto, tasa) {
                    return parseFloat(tasa);
                }

                this.calcular = function (monto, tasa) {
                    if (parseInt(this.tipo_calculo) == 1) {
                        return fijo(monto, tasa).toFixed(2);
                    } else if (parseInt(this.tipo_calculo) == 2) {
                        return porcentual(monto, tasa).toFixed(2);
                    } else if (parseInt(this.tipo_calculo) == 3) {
                        return pormillar(monto, tasa).toFixed(2);
                    }
                }
            };

            var calcular_coberturas_adicionales = function () {
                $.each($('.cotizar'), function (i, o) {
                    var tasa = parseFloat($(o).data('tasa'));
                    var tc = parseInt($(o).data('tipo-calculo'));
                    var te = $(o).data('tipo-exceso');
                    var tr = $(o).parent().parent();
                    var ex = $(tr).find('.exceso');
                    var monto = 0.0;
                    if (te == 'valor_nuevo') {
                        monto = parseFloat($('#id_valor_nuevo').val());
                    } else if (te == 'otro') {
                        monto = parseFloat($(ex).val());
                    }
                    var calc = new tipocalculo(tc);
                    $(o).val(calc.calcular(monto, tasa));
                })
            };

            $(document).on('change', '.exceso', calcular_coberturas_adicionales);
            $(document).on('change', '#id_valor_nuevo', calcular_coberturas_adicionales);

            calcular_coberturas_adicionales();

        })
    })(grp.jQuery)
</script>
